ion-content {
    --overflow: hidden;
}

ion-grid {
    position: absolute;
    top: 40.5vh;
    width: 100%;
}

ion-item {
    --padding-start: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.fish {
    height: 20vh;
    position: absolute;
    z-index: 2;
    top: 11vh;
    opacity: 0.55;
}

.logo {
    position: absolute;
    top: 18.5vh;
    height: 5vh;
    z-index: 3;
}

.flexstart-col {
    position: absolute;
    margin-top: 2vh;
    width: 100vw;
}

ion-button {
    --ripple-color: transparent;
    text-transform: none;
}