<ion-content>
  <div class="center">
    <img src="/assets/signup/nemo-icon-orange.png" class="logo" />
  </div>

  <!--div class="center">
    <img #wavesFast src="/assets/signup/waves.png" class="wavesFast"/>
    <img #wavesSlow src="/assets/signup/waves-2.png" class="wavesSlow"/>
  </div-->

  <form [formGroup]="loginForm">
    <div class="flexstart-col">
      <div class="flexend-row">
        <div>
          <ion-input
            type="email"
            placeholder="myUniversityEmail"
            formControlName="email"
          ></ion-input>
        </div>
      </div>

      <div class="flexend-row">
        <div>
          <ion-input
            type="password"
            placeholder="myPassword"
            formControlName="password"
          ></ion-input>
        </div>
      </div>

      <div class="flexend-row">
        <ion-button
          expand="block"
          fill="clear"
          shape="round"
          debounceClick
          (debounceClick)="onLogin()"
          [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
          >Enter Nemo</ion-button
        >
      </div>
      <div class="flexend-row">
        <ion-button expand="block" fill="clear" shape="round" (click)="returnToLanding()"
          >Go back</ion-button
        >
      </div>
    </div>
  </form>
</ion-content>
