ion-content {
    --overflow: hidden;
}

// ion-grid {
//     position: absolute;
//     top: 40.5vh;
//     width: 100%;
// }

// ion-col {
//     display: flex;
//     justify-content: center;
// }

// ion-item {
//     width: 70vw;
//     --padding-start: 0;
// }

.center {
    display: flex;
    justify-content: center;
}

// .fish {
//     height: 20vh;
//     position: absolute;
//     z-index: 2;
//     top: 11vh;
//     opacity: 0.55;
// }

.logo {
    position: absolute;
    top: 16.5vh;
    height: 22vh;
    z-index: 3;
}

.flexstart-col {
    top: 40vh;
    position: absolute;
    margin-top: 2vh;
    width: 100vw;
}

.flexend-row {
    display: flex;
    justify-content: center;
    width: 100vw;
}

ion-button {
    --ripple-color: transparent;
    text-transform: none;
}

ion-input {
    text-align: center;
    --padding-start: 0;
    --padding-end: 0;
    border-bottom: solid 1px var(--ion-color-light-shade);
    margin-bottom: 2vh;
    width: 70vw;
}