<ion-content>

  <div class="center">
    <img #fish src="/assets/nemo.png" class="fish"/>
    <img src="/assets/signup/nemo-icon-orange.png" class="logo"/>
  </div>

  <div class="center">
    <img #wavesFast src="/assets/signup/waves.png" class="wavesFast"/>
    <img #wavesSlow src="/assets/signup/waves-2.png" class="wavesSlow"/>
  </div>

  <form 
  [formGroup]="loginForm" 
  (ngSubmit)="onSubmit()"
  (keydown)="enterSubmit($event)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>University Email</ion-label>
            <ion-input
              type="email"
              placeholder="first.last@ucl.ac.uk"
              formControlName="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input
              type="password"
              placeholder="myPassword"
              formControlName="password"
            ></ion-input> </ion-item
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="scroll flexstart-col">
            <div class="flexend-row">
              <ion-button
                expand="block"
                fill="clear"
                shape="round"
                type="submit"
                [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
                >Enter Nemo</ion-button
              >
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
