<div>
    <ion-select 
    #select 
    placeholder={{departments}} 
    interface="action-sheet"
    okText="Ok" 
    cancelText="Cancel" 
    (ionChange)="updateDept(type)">
        <ion-select-option *ngFor="let selection of this.depts">{{ selection }}</ion-select-option>
    </ion-select>
    <div #close class="close-button" style="display: none" (click)="clearInput()">
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="text">
        <ion-input #input (ionInput)="displayExit()"></ion-input>
    </div>
</div>