<ion-content>
  <div class="flexend">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="flexcenter">
    <h1>Report {{ userReportedName }}</h1>
    <img [src]="userReportedPicture" />
    <p>Please tell us a little about why you're reporting this user.</p>
  </div>

  <div class="flexcenter">
    <textarea
      name="description"
      [(ngModel)]="description"
      maxlength="150"
      class="input"
      autogrow="true"
      placeholder="The problem is..."
    ></textarea>
  </div>

  <div class="flexcenter">
    <p>We're sorry this happened. Hopefully we can get it resolved soon.</p>

    <ion-button (click)="reportUser()">Submit</ion-button>
  </div>
</ion-content>
