<!-- <input type="file" (change)="fileChangeEvent($event)" /> -->
<h1>Crop your photo</h1>
<h2>Make it look how you want it!</h2>

<div class="separator"></div>

<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [imageURL]="imageURL"
  [maintainAspectRatio]="true"
  [aspectRatio]="9 / 16"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded($event)"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<div class="separator"></div>

<h2>What they'll see</h2>

<div class="shown">
  <img [src]="croppedImage" />
</div>

<ion-button (click)="dismissCropper()" expand="block" fill="clear" shape="round">
  Confirm Cropping
</ion-button>
