<ion-header>
  <ion-toolbar>
    <ion-title>signupauth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="authForm">
    <ion-slides pager="true" #slide>
      <ion-slide>
        <ion-item lines="none">
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> What's your uni email address? </ion-label>
            </div>

            <div class="input flexstart-col">
              <div>
                <ion-input placeholder="email@ucl.ac.uk" type="email"></ion-input>
              </div>

              <p class="tip">Only UCL email addresses will allow for verification.</p>
            </div>

            <div class="scroll flexstart-col">
              <div class="flexend-row">
                <ion-button (click)="slide.slideNext()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="container flexend-col">
            <div class="question">
              <ion-label position="stacked"> Enter your verification code </ion-label>
            </div>

            <div class="flexstart-row">
              <p class="tip">
                We just sent an email to
                <br />
                "email@ucl.ac.uk".
                <!--BACKEND - Fill with email input on previous slide-->
              </p>
            </div>

            <div class="input flexstart-col">
              <div class="flexstart-row">
                <div class="verification_input">
                  <ion-input
                    size="1"
                    maxlength="1"
                    min="0"
                    max="9"
                    pattern="[0-9]{1}"
                  ></ion-input>
                </div>
                <div class="verification_input">
                  <ion-input
                    size="1"
                    maxlength="1"
                    min="0"
                    max="9"
                    pattern="[0-9]{1}"
                  ></ion-input>
                </div>
                <div class="verification_input">
                  <ion-input
                    size="1"
                    maxlength="1"
                    min="0"
                    max="9"
                    pattern="[0-9]{1}"
                  ></ion-input>
                </div>
                <div class="verification_input">
                  <ion-input
                    size="1"
                    maxlength="1"
                    min="0"
                    max="9"
                    pattern="[0-9]{1}"
                  ></ion-input>
                </div>
              </div>

              <p class="no_verification">Didn't get a code?</p>
            </div>

            <div class="scroll flexstart-col">
              <div class="flexend-row">
                <ion-button (click)="slide.slideNext()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
