rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{allPaths=**} {
      allow read, write: if isGod()
    }

    match /profiles/{profileID} {
      allow read: if userIsValid();
      allow update: if userIsValid() 
                    && isDocumentOwner(profileID) 
                    && onlyPropertiesModifiedAre(["pictureCount"])
                    && request.resource.data.pictureCount is number;

      match /private/{documentName} {
        allow read, write: if documentName == "private" 
                            && isDocumentOwner(profileID);
      }
    }

    match /chats/{chatID} {
      allow read: if userIsValid() 
                  // && isPartOfChat()

      match /messages/{messageID} {
        allow read, create: if userIsValid() 
                            && isPartOfChat()
      }
    }

    match /admin/universitiesAllowed {
      allow read;
    }
  }
}

function onlyPropertiesModifiedAre(keys) {
  return request.resource.data.diff(resource.data).changedKeys().hasOnly(keys)
  }

function isDocumentOwner(docID) {
  return request.auth.uid == docID
  }

function isPartOfChat() {
  return request.auth.uid in resource.data.uids 
}

function isGod() {
  return request.auth.uid in ["oY6HiUHmUvcKbFQQnb88t3U4Zew1"]
}

function userIsValid() {
  return isAuthenticated() && emailIsAllowed() && emailIsVerified()
}

// not used directly, for userIsValid()
function isAuthenticated() {
  return request.auth != null
  }

// not used directly, for userIsValid()
function emailIsAllowed() {
  return request.auth.token.email.matches("^[A-Za-z0-9._%+-]+@ucl.ac.uk$") 
  || request.auth.token.email.matches("^[A-Za-z0-9._%+-]+@kcl.ac.uk$")
  || request.auth.token.email in ["archibald.ruban@gmail.com"]
}

// not used directly, for userIsValid()
function emailIsVerified() {
  return request.auth.token.email_verified == true
}

