/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .mutuals {
    display: flex;
  }
  
  .mutuals-avatar {
    height: 30px;
    width: 30px;
    margin-right: -10px;
    border-radius: 50% !important;
    border: 2px solid white !important;
  }
  
  .trait-chips {
    display: inline-block;
    float: none;
    padding: 0px 15px 0px;
  }
  
  .swipe-card {
    border-radius: 30px;
  }
  
  .card-header {
    padding: 10px 20px 3px;
  }
  
  .bio {
    padding: 5px 20px 20px;
  }
  