<div #fullCard id="swipe-card" *ngIf="profile">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div class="img-container">
    <div class="pager">
      <ion-icon
        #bullets
        name="ellipse"
        *ngFor="let path of profilePictures$ | async"
      ></ion-icon>
    </div>
    <ion-slides
      #picSlides
      (ionSlideWillChange)="onSlideChange()"
      *ngIf="profilePictures$ | async as profPictures"
    >
      <ion-slide
        #pic
        *ngFor="let path of profPictures; index as i"
        [ngStyle]="{
          'background-image': 'url(' + path + ')',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      >
      <div class="yesSwipe" (click)="this.tapped.emit('yes')"></div>
      <div class="noSwipe" (click)="this.tapped.emit('no')"></div>
        <div *ngIf="profile?.questions[i]" #QandA class="question" [hidden]="moreInfo">
          <ion-card-title #question>{{ profile?.questions[i].question }}</ion-card-title>
          <ion-card-subtitle #answer>{{
            profile?.questions[i].answer
          }}</ion-card-subtitle>
        </div>
        <div #shadow class="img-shadow"></div>
      </ion-slide>
    </ion-slides>
    <!--div #QandA class="question" [hidden]="moreInfo">
      <ion-card-title #question>{{ profile?.questions[0].question }}</ion-card-title>
      <ion-card-subtitle #answer>{{ profile?.questions[0].answer }}</ion-card-subtitle>
    </div-->
  </div>
  <!-- <div id="QandA">
    <ion-chip color="tertiary"><ion-label id="answers">Loop?: "Never! lol i hate it"</ion-label></ion-chip>
  </div> -->
  <!-- <div id="photo-shadow"></div> -->
  <div id="info" button>

    <!--div #snippet id="snippetInfo" [style.display]="moreInfo ? 'hidden' : 'block'" (click)="expandProfile()">
      <ion-card-header class="name-age">
        <ion-card-title #name
          >{{ profile?.firstName }}, {{ profile?.dateOfBirth | age }}</ion-card-title
        >
        <ion-card-subtitle #department id="department"
          >{{ profile?.course }}, {{ profile?.degree | degrees }}</ion-card-subtitle
        >
      </ion-card-header>
    </div-->

    <div #complete id="completeInfo">
    <!--[hidden]="!moreInfo"-->
      <ion-card-header #header class="name-age sticky" (click)="expandProfile()">
        <ion-card-title
          >{{ profile?.firstName }}, {{ profile?.dateOfBirth | age }}
        </ion-card-title>
        <ion-card-subtitle id="department"
          >{{ profile?.course }}, {{ profile?.degree | degrees }}</ion-card-subtitle
        >
      </ion-card-header>
      <div #content id="content">
        <!-- DIVS FOR DOUBLE TAPPING YES/NO -->
        <div #yes class="yesSwipeInfo" (click)="this.tapped.emit('yes')"></div>
        <div #no class="noSwipeInfo" (click)="this.tapped.emit('no')"></div>

        <div
          *ngIf="profile?.interests?.length > 0 && interestsBuilt === true"
          id="info-segment"
        >
          <!--INTERESTS IN THE DATABASE DON'T CURRENTLY MATCH LOCAL, THIS IS NOT WIRED UP FOR ICONS -->
          <div id="interests-container">
            <ion-slides
              #intSlides
              class="interests-slides"
              *ngIf="this.interestsBuilt"
              (ionSlideTouchStart)="stopSlides()"
              [options]="{ autoplay: true }"
            >
              <ion-slide *ngFor="let slide of interestSlideContent">
                <div id="interests-box" *ngFor="let interest of slide">
                  <img
                    id="interests-icon"
                    [src]="findInterestIcon(interest)"
                    alt="icon"
                  />
                  <br />
                  <div class="interests-text">
                    <ion-label id="interests-label">{{ interest }}</ion-label>
                  </div>
                  <!-- would be {{interests.name}} -->
                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </div>

        <div *ngIf="profile?.biography?.length > 0" id="info-segment">
          <div id="bio">
            "{{ profile?.biography }}"
            <span *ngFor="let sm of profile?.socialMediaLinks">
              <!-- dont delete this line, it is a safegaurd for missing links -->
              <!-- <div *ngIf="sm.link">{{sm.socialMedia | titlecase}}: {{sm.link}}<br/></div> -->
              <div *ngIf="sm.link">
                {{ sm?.socialMedia | titlecase }}: {{ sm?.link }}<br />
              </div>
            </span>
          </div>
        </div>

        <div id="info-segment">
          <div id="interests-container" class="centered">
            <div id="interests-box-soc">
              <ion-icon
                name="school"
                id="bottom-icon"
                style="color: var(--ion-color-primary)"
              ></ion-icon>
              <br />
              <div class="interests-text">
                <ion-label *ngIf="profile?.areaOfStudy != 'Maths and Physical Sciences'" id="interests-label">{{ profile?.areaOfStudy }}</ion-label>
                <ion-label *ngIf="profile?.areaOfStudy === 'Maths and Physical Sciences'" id="interests-label">MAPS</ion-label>
              </div>
            </div>

            <div id="interests-box-soc">
              <ion-icon
                name="people"
                id="bottom-icon"
                style="color: var(--ion-color-primary)"
              ></ion-icon>
              <br />
              <div class="interests-text">
                <ion-label id="interests-label">{{ profile?.society }}</ion-label>
              </div>
            </div>
          </div>
        </div>

        <div id="info-segment" *ngIf="socialFound">
          <!-- INSTA API CONTENT HERE -->
        </div>

        <div *ngIf="reportable">
          <div id="interests-container" class="centered">
            <div class="reportButton">
              <ion-icon name="shield" style="color: var(--ion-color-danger)"></ion-icon>
              <br />
              <ion-label>Report {{ profile?.firstName }}</ion-label>
            </div>
          </div>
        </div>

        <br>

        <!--div id="bio-bubble"></div-->
      </div>
    </div>
  </div>
</div>
