<div id="swipe-card">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div id="pictureFrame">
    <img
      id="pictures"
      src="https://staticg.sportskeeda.com/editor/2020/06/a19cc-15923264235917.jpg"
    />

    <!-- <div id="interests-collection">
      <button ion-button icon-only id="interests-button">
        <ion-icon
          name="earth-outline"
          color="primary"
          style="font-size: 25px"
        ></ion-icon>
      </button>

      <button ion-button icon-only id="interests-button">
        <ion-icon
          name="wine-outline"
          color="tertiary"
          style="font-size: 25px"
        ></ion-icon>
      </button>

      <button ion-button icon-only id="interests-button">
        <ion-icon
          name="bicycle-outline"
          color="success"
          style="font-size: 25px"
        ></ion-icon>
      </button>
    </div> -->
  </div>
  <!-- <div id="QandA">
    <ion-chip color="tertiary"><ion-label id="answers">Loop?: "Never! lol i hate it"</ion-label></ion-chip>
  </div> -->
  <div id="photo-shadow"></div>
  <div id="info" button (click)="expandProfile($event)">
    <div id="snippetInfo" *ngIf="!moreInfo">
      <ion-card-header class="name-age">
        <ion-card-title>Anastasia, 19</ion-card-title>
        <ion-card-subtitle id="department">Politics, UG</ion-card-subtitle>
      </ion-card-header>
    </div>
    <div id="completeInfo" *ngIf="moreInfo">
      <ion-card-header class="name-age sticky">
        <ion-card-title>Anastasia, 19</ion-card-title>
        <ion-card-subtitle id="department">Politics, UG</ion-card-subtitle>
      </ion-card-header>
    <div id="content">
      <div id="info-segment">
      
      <div id="interests-container">
        <div id="interests-box">
          <ion-icon name="leaf" id="interest-icon" style="color: green;"></ion-icon>
          <br>
          <ion-label id="interest-label">Herb Friendly</ion-label>
        </div>
        <div id="interests-box">
          <ion-icon name="film" id="interest-icon" style="color: darkred;"></ion-icon>
          <br>
          <ion-label id="interest-label">Netflix & Chill</ion-label>
        </div>
        <div id="interests-box">
          <ion-icon name="beer" id="interest-icon" style="color: goldenrod;"></ion-icon>
          <br>
          <ion-label id="interest-label">Party Animal</ion-label>
        </div>
        <div id="interests-box">
          <ion-icon name="football" id="interest-icon" style="color: peru;"></ion-icon>
          <br>
          <ion-label id="interest-label">Football Fanatic</ion-label>
        </div>
      </div>

      <div id="info-grid">
        <div id="info-box">
          <ion-label id="trait-field">Graduates:</ion-label>
          <br>
          <ion-label id="trait-label">2021</ion-label>
        </div>
        <div class="verticalLine" style="height: 6vh;">
        </div>
        <div id="info-box">
          <ion-label id="trait-field">Hometown:</ion-label>
          <br>
          <ion-label id="trait-label">Moscow</ion-label>
        </div>
      </div>
      <div id="society-list">
        <p>
      <span id="society-field">Member of </span> <span id="society-label">Eurasian Business Society, UCL Women's Tennis</span>
      <p>
      </div>
      </div>
      
      <div id="bio">
        Good girl! I just want someone to rail me and reorganize my internal
        organs lol?? <br />
        instagram: kittyslut6969
      </div>
      <div id="bio-bubble"></div>
    </div>
  </div>
  </div>
</div>
