.signInUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;

  ion-item ion-button {
    height: 38px;
    font-size: 15px;
    text-transform: none;
  }
}

ion-content {
  --background: grey; /*To be replaced with slides of images*/
}

.nemo-logo {
  filter: sopacity(100px) blur(100px);
  margin: 15vh auto 0 auto;
  width: 75%;
}

.register {
  background-color: var(--ion-color-primary);
  border-radius: 15px;
  padding: 10px;
  color: var(--ion-color-primary-contrast);
}

.signin {
  --background: transparent;
  --box-shadow: none;
  color: var(--ion-color-secondary);
}

ion-item {
  --background: none;
}