<ion-content>
  <ion-slides pager="false" options="{pagination: false, onlyExternal: false}" #slide>
    <ion-slide>
      <ion-item lines="none">
        <div class="container">
          <div class="flexbetween-row">
            <h1>My settings</h1>
            <a href="/tabs/own-profile"><ion-icon name="close-outline"></ion-icon></a>
          </div>
          <div class="flexeven-col">
            <div class="slide-button" (click)="selectSlide('prefs')">
              <p>Preferences</p>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <div class="slide-button go-under" #goUnder style="background-color: var(--ion-color-light-tint)">
              <div class="flexbetween-row">
                <p>Go 'under'</p>
                <ion-toggle (ionChange)="goneUnder($event)"></ion-toggle>
              </div>
              <h3 #goUnderH3>
                Going under allows you to chat with existing catches, but your profile will not be shown in
                other people's catch-stack and you will not be able to swipe on new users.
              </h3>
            </div>

            
            <div class="slide-button" (click)="selectSlide('legal')">
              <p>Legal</p>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <div class="slide-button">
              <p>Help & Support</p>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <div class="slide-button logout">
              <p>Logout</p>
            </div>

            <div class="slide-button delete">
              <p>Delete Account</p>
            </div>

          </div>
        </div>
      </ion-item>
    </ion-slide>

    <!-- Necessary in order to allow swipes to specific slides,
      one other slide has to have display != none in order for this.slides.slideNext() to work -->
    <ion-slide id="placeholder"></ion-slide>

    <ion-slide id="legal">
      <ion-item lines="none">
        <div class="container">
          <div class="flexbetween-row">
            <h1>Legal</h1>
            <a href="/tabs/own-profile"><ion-icon name="close-outline"></ion-icon></a>
          </div>

          <div class="flexstart-row" (click)="returnToSettings()">
            <ion-icon id="back" name="chevron-back-outline"></ion-icon>
            <p class="return">Return to Settings</p>
          </div>

          <div class="flexstart-col">
            <div class="slide-button">
              <p>Privacy Policy</p>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <div class="slide-button">
              <p>Terms & Conditions</p>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-slide>

    <ion-slide id="preferences">
      <ion-item lines="none">
        <div class="container">
          <div class="flexbetween-row">
            <h1>Your Preferences</h1>
            <a href="/tabs/own-profile"><ion-icon name="close-outline"></ion-icon></a>
          </div>

          <div class="flexstart-row" (click)="returnToSettings()">
            <ion-icon id="back" name="chevron-back-outline"></ion-icon>
            <p class="return">Return to Settings</p>
          </div>

          <div class="flexstart-col">
            <div class="slide-button preferences">
              <p>I am looking for</p>
              <select>
                <option disabled selected hidden value></option>
                <option value="dating">dating</option>
                <option value="friends">friends</option>
              </select>
            </div>

            <div class="slide-button preferences">
              <p>I am interested in</p>
              <select>
                <option disabled selected hidden value></option>
                <option value="boys">boys</option>
                <option value="girls">girls</option>
                <option value="all genders">all genders</option>
              </select>
            </div>

            <div class="slide-button preferences">
              <p>I identify as</p>
              <select>
                <option disabled selected hidden value></option>
                <option value="female">female</option>
                <option value="male">male</option>
                <option value="non-binary">non-binary</option>
                <option value="gender-fluid">gender fluid</option>
                <option value="agender">agender</option>
              </select>
            </div>

            <div class="slide-button preferences">
              <p>I am currently living</p>
              <select>
                <option disabled selected hidden value></option>
                <option value="campus">on campus</option>
                <option value="home">off campus</option>
              </select>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-slide>
  </ion-slides>
</ion-content>
