<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>University Email</ion-label>
            <ion-input
              type="email"
              placeholder="john.smith@ucl.ac.uk"
              formControlName="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input
              type="password"
              placeholder="myPassword"
              formControlName="password"
            ></ion-input> </ion-item
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="scroll flexstart-col">
            <div class="flexend-row">
              <ion-button expand="block"
              fill="clear"
              shape="round"
              [routerLink]="['../../../tabs/home']" 
              type ="submit" 
              [disabled]="!loginForm.valid">Enter Nemo</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
