<ion-content>
  <ion-slides>
    <ion-slide>Succesful account creation</ion-slide>
    <ion-slide>
      How the app works (mainly about the effect of search-criteria on the swipe stack)
    </ion-slide>
    <ion-slide>
      Notification permission We will only send you notifications for new messages, new
      matches, and occasionally we release new features

      <ion-button (click)="requestNotificationPermission()"
        >Allow Notifications</ion-button
      >
    </ion-slide>
    <ion-slide>
      <ion-button (click)="goToApp()">Enter Nemo</ion-button>
    </ion-slide>
  </ion-slides></ion-content
>
