<ion-content>
  <video
    autoplay="true"
    muted="muted"
    loop="true"
    id="backVideo"
    playsinline
    autoplay
    webkit-playsinline
  >
    <source src="/assets/welcome-background.mp4" type="video/mp4" />
  </video>
  <div class="page-container">
    <h1 class="title">You've made it!</h1>

    <div class="flexcenter">
      <h2 class="subtitle">
        Obviously, to get the full experience you'll want to enable notifications...
      </h2>
    </div>

    <div class="flexcenter">
      <ion-button class="notifs" (click)="requestNotificationsPermission()">
        Allow Notifications
      </ion-button>
    </div>

    <div class="flexcenter">
      <ion-button class="enter" (click)="goToApp()"> Start swiping </ion-button>
    </div>
  </div>
</ion-content>
