<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ONLY FOR MOVEMENT IN BUILDSTAGE -->
<ion-button class="unlocker" (click)="slides.lockSwipes(false)">Unlock Swiping</ion-button>

<ion-content>
  <form [formGroup]="signupForm">

    <!--Self-built pager with TS backend -->
    <div class="pager">
      <div class="pager-icon">
        <ion-icon style="display: none" name="mail-outline"></ion-icon>
        <ion-icon style="display: none" name="ellipsis-horizontal"></ion-icon>
        <ion-icon style="display: none" name="person"></ion-icon>
        <ion-icon style="display: none" name="gift-outline"></ion-icon>
        <ion-icon style="display: none" name="camera-outline"></ion-icon>
        <ion-icon style="display: none" name="happy-outline"></ion-icon>

        <!-- The two icons below are placeholders for the wave slides -->
        <ion-icon style="display: none" name="school-outline"></ion-icon>

        <ion-icon style="display: none" name="school-outline"></ion-icon>
        <ion-icon style="display: none" name="location-outline"></ion-icon>
        <ion-icon style="display: none" name="list-outline"></ion-icon>
        <ion-icon style="display: none" name="color-palette-outline"></ion-icon>
        <ion-icon style="display: none" name="accessibility"></ion-icon>
        <ion-icon style="display: none" name="person-add"></ion-icon>
      </div>
      <ion-icon class="pager-dot" name="ellipse"></ion-icon>
      <ion-icon class="pager-dot" name="ellipse"></ion-icon>
      <ion-icon class="pager-dot" name="ellipse"></ion-icon>
      <ion-icon class="pager-dot" name="ellipse"></ion-icon>
      <ion-icon class="pager-dot" name="ellipse"></ion-icon>
    </div>

    <ion-slides pager="false" #slides>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              What's your uni email address?
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input placeholder="email@ucl.ac.uk"></ion-input>
            </div>
          </div>
           
          <div class="flexstart-col">
            <p class="tip">Only UCL email addresses will allow for verification.</p>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              Choose a password for your account
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input></ion-input>
            </div>
          </div>

          <div class="flexstart-col">
            <p class="tip">Your password must be at least 10 characters long.</p>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>
    
      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              What's your name?<br><br>
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input placeholder="First Name"></ion-input>
            </div>

            <div>
              <ion-input placeholder="Last Name"></ion-input>
            </div>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              What's your date of birth?
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-datetime displayFormat="DD MM YYYY"></ion-datetime>
            </div>
          </div>

          <div class="tip flexstart-col">
            <!-- Lazy fix -->
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              Choose your photos NAME <!-- BACKEND - possible to fill in name here from previous slide's input?-->
            </ion-label>
          </div>

          <div class="input photos flexeven">
            <add-photo></add-photo>
            <add-photo></add-photo>
            <add-photo></add-photo>
            <add-photo></add-photo>
            <!--ion-button
              (click)="onPickPicture()"
              expand="block"
              fill="clear"
              shape="round"
            >
              Get me to my photo gallery
            </ion-button-->
          </div>

          <div class="skip">
            <p class="tip-center">You must have at least one photo on your profile.</p>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              What are your preferences?
            </ion-label>
          </div>
          <br>

          <div class="flexstart-col">
            <div class="preferences">
              <h3>I am looking for</h3>
              <ion-select required>
                <ion-select-option value="option">option...</ion-select-option>
              </ion-select>
            </div>

            <div class="preferences">
              <h3>I am interested in</h3>
              <ion-select required>
                <ion-select-option value="option">option...</ion-select-option>
              </ion-select>
            </div>

            <div class="preferences">
              <h3>I identify as</h3>
              <ion-select required>
                <ion-select-option value="option">option...</ion-select-option>
              </ion-select>
            </div>

            <div class="preferences">
              <h3>I live in</h3>
              <ion-select required>
                <ion-select-option value="option">option...</ion-select-option>
              </ion-select>
            </div>
          

            <div class="skip">
              <p class="tip-center">These preferences can be changed later.</p>
            </div>

            <div class="terms">
              <ion-checkbox name="terms"></ion-checkbox>
              <h2>I have read and understood the terms and conditions</h2>
            </div>
            <div class="terms">
              <ion-checkbox name="privacy"></ion-checkbox>
              <h2>I consent to the data and privacy policies of this app</h2>
            </div>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item> 
      </ion-slide>

      <ion-slide>
        <div class="wave-background">
          <img style="opacity: 1" class="waves front" src="../../../assets/signup/waves.png" alt="Waves">
          <img class="waves behind" src="../../../assets/signup/waves_2.png" alt="Waves">
        </div>

        <div class="container-wave flexstart-col">
          <div class="scroll flexend-row">
            <ion-button class="exit">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>

          <div style="opacity: 1" class="flexstart-col blow-up front">
            <h1>Adding basic info leads to better matches.</h1>
          </div>

          <div class="flexend-col blow-up behind">
            <h1>So you can find a catch, or be caught yourself.</h1>
          </div>

          <div class="flexend-col">
            <ion-button class="add-info" (click)="unlockAndSwipe(7)">
              Enter Basic Information
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide> 
        <ion-item lines="none">
           <div class="optionals flexstart-col">
              <div class="question">
                <ion-label position="stacked">
                  Add your studies/societies
                </ion-label>
              </div>
              
              <div class="scrollable">

                <div class="input">
                  <select required>
                    <option value="Area of study" selected hidden></option>
                    <option value="physics">Physics</option>
                    <option value="politics">Politics</option>
                    <option value="maths">Maths</option>
                    <option value="compsci">Computer Science</option>
                  </select>

                  <div>
                    <ion-input type="text" maxlength="20" placeholder="Enter your degree"></ion-input>
                  </div>

                  <p class="tip">Maximum 20 characters</p>
                </div>

                <div class="input">
                  <select required>
                    <option value="Are you in any societies?" selected hidden></option>
                    <option value="physics">Lacrosse</option>
                    <option value="politics">Kickboxing</option>
                    <option value="maths">Chess</option>
                    <option value="compsci">Poker</option>
                  </select>

                  <div>
                    <ion-input type="text" maxlength="15" placeholder="Enter your society"></ion-input>
                  </div>

                  <p class="tip">Maximum 15 characters</p>
                </div>
              </div>
            </div>

          <div class="skipdiv">
            <p class="tip-center">These details are optional and can be changed later.</p>
            <div class="skip">
              <ion-button (click)="unlockAndSwipe('next')">Skip</ion-button>
            </div>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item> 
      </ion-slide>

      <ion-slide> 
        <ion-item lines="none">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked">
                Answer some questions
              </ion-label>
            </div>

            <div class="scrollable">
              <div class="input">
                <select required>
                  <option value="Question 1" selected hidden></option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>

                <div>
                  <ion-textarea maxlength="30"></ion-textarea>
                </div>
              </div>

              <div class="input">
                <select required>
                  <option value="Question 2" selected hidden></option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>

                <div>
                  <ion-textarea maxlength="30"></ion-textarea>
                </div>
              </div>
            </div>
          </div>

            <div class="skipdiv">
              <p class="tip-center">Max 30 characters per answer</p>
              <p class="tip-center">These details are optional and can be changed later.</p>

              <div class="skip">
                <ion-button (click)="unlockAndSwipe('next')">Skip</ion-button>
              </div>
            </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked">
                What are your interests?
              </ion-label>
            </div>

            <div class="scrollable">

              <!-- These currently all change together as the items have not been separated in TS -->
              <ion-list>
                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label >Workaholic</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="workaholic"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Party Animal</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="party"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Netflix & Chill</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="netflix"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>In love with the sesh</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="sesh"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Sports Maniac</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="sports"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>An intellectual</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="intellectual"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>UCLove addict</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="uclove"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Life is balance</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="balance"></ion-checkbox>
                </ion-item>

                <ion-item 
                [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Workaholic</ion-label>
                  <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" name="spiritual"></ion-checkbox>
                </ion-item>
              </ion-list>
            </div>
          </div>

            <div class="skipdiv">
              <p class="tip-center">You can choose a maximum of three interests.</p>
              <p class="tip-center">These details are optional and can be changed later.</p>

              <div class="skip">
                <ion-button (click)="unlockAndSwipe('next')">Skip</ion-button>
              </div>
            </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item>
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked">
                Describe yourself
                <br>
                Not sure what belongs here?
              </ion-label>
            </div>
          </div>
          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item> 
      </ion-slide>

      <ion-slide>
        <ion-item>
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked">
                Add a bio
              </ion-label>
            </div>

            <div class="bio input">
              <ion-textarea maxlength="30"></ion-textarea>
            </div>
          </div>

            <div class="skipdiv">
              <p class="tip-center">Maximum 30 characters.</p>
              <p class="tip-center">These details are optional and can be changed later.</p>

              <div class="skip">
                <ion-button (click)="unlockAndSwipe('next')">Skip</ion-button>
              </div>
            </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item>
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked">
                Link your social media
              </ion-label>
            </div>

            <div class="skipdiv-multiple">
              <p class="tip-center">Other users will be able to click on the link to your social media account.</p>
              <p class="tip-center">You can only link one social media account to your Nemo profile.</p>
              <p class="tip-center">The linked social media account can be changed later.</p>

              <div class="skip">
                <ion-button>Skip</ion-button>
              </div>
            </div>
          </div>

          <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item> 
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
