$button-width: 6.25vh;
$slide-height: 100vh;
$slide-width: 100vw;

ion-slides {
  height: $slide-height;
}

ion-item {
  height: 80vh;
}

p {
  margin: 0;
}

.set-height {
  height: 20vh;
}

.scroll {
  width: 90%;

  ion-button {
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    color: var(--ion-color-secondary);
    --background: var(--ion-color-primary);
    height: $button-width;
    width: $button-width;
  };

  ion-icon[name="close-outline"] {
    font-size: 3vh;
  }
}

.full-page {
  height: $slide-height;
  width: $slide-width;
  z-index: 1;
  position: absolute;
}

.flexend-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flexstart-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flexend-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flexstart-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.question {
  height: 15vh;
  font-size: 5vh;
  overflow-wrap: break-word;
  white-space: normal;
}

.input {
  width: 90%;

  ion-input, ion-datetime {
    height: 5vh;
    width: 100%;
    border-bottom: solid 1px var(--ion-color-medium-shade);
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 1vh;
  };

  .verification_input {
    color: var(--ion-color-primary);
    text-align: center; 
    width: 10%;
    margin-right: 5vw;
  };
}

.tip {

  p {
    font-size: 2vh;
    color: var(--ion-color-medium-shade);
    margin-bottom: 3vh;
  };

  .no_verification {
    color: var(--ion-color-primary-tint);
  };
}

.skip {
  margin: 0 auto;
  text-align: center;

  ion-button {
    font-size: 3vh;
    color: var(--ion-color-light-contrast);
    --background: transparent;
    --box-shadow: none;
    text-transform: none;
  }
}

.slide-container {
  height: $slide-height;
  width: $slide-width;
  overflow: hidden;
  background: linear-gradient(135deg, var(--ion-color-primary-shade),var(--ion-color-secondary-shade));
}

.waves {
  height: $slide-height;
  max-width: 150vw;
}

.blow-up {
  color: var(--ion-color-primary-contrast);
  z-index: 1;
  position: absolute;
  text-align: left;
  font-weight: bold;
  font-size: 6vh;
  padding: 10vh 5vw;

  &.top-pos {
    top: 20vh;
  };

  &.bot-pos {
    bottom: 20vh;
  }
}

.preferences {
  color: var(--ion-color-medium-shade);
  display: flex;
  width: 100%;
  font-size: 3vh;

  .flexstart-col & {
    margin-top: 3vh;
  }

  select {
    color: var(--ion-color-dark);
    border: 0;

    &:valid {
      transition-duration: 0.4s;
    };

    /* This lets it slide across after selection, transition-duration currently useless, 
    simple method to start can improve later*/
    &:invalid {
      margin-left: auto;
      transition-duration: 0.4s;     
    };

    &:visited, &:active {
      border: 0;
    };
  };
}

.uni {
  width: 90%;

  select {
    border-radius: 1vw;
    border: 1px solid var(--ion-color-medium-shade);
    width: 100%;
    margin-top: 5vh;
  };
}