$tab-height: 80px;
$tab-width: 85vw;

ion-tab-bar {
  height: $tab-height;
  width: $tab-width;
  margin-left: (100vw - $tab-width) / 2;
  --border: none;
  background-color: green;
  border-radius: 10px;

  backdrop-filter: saturate(210%) blur(20px) !important;
  --color: mediumslateblue;

  ion-tab-button {
    background: red;
    // min-height: 60px;
    // max-height: 60px;
    // min-width: 60px;
    // max-width: 60px;
    // margin: 0 20px 0 20px;
    // border-radius: 50%;
  }
}
