// DEV
.devOtherProfileInfo {
  z-index: 3000;
  position: absolute;
  background-color: white;
  top: 40%
}

// DEV
.devOwnProfileInfo{
  z-index: 3000;
  position: absolute;
  background-color: white;
  top: 60%
}

$swipe-height: 100vh;
$swipe-width: 100vw;

// Should be equal to the actual height of the tab.
// That's if we want the swipe card to stop right above the
// tab-menu, if the latter touches the bottom of the screen
$tab-height: 0vh;

ion-content {
  --overflow: hidden;
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px -12px;
  width: 92.2%;
  height: 91.8%;
  left: 4%;
  top: 6.4%;
  border-radius: 30px;
  overflow: hidden;
}

#yesBubble {
  display: none;
  width: 8vh;
  height: 8vh;
  color: var(--ion-color-primary);
  position: absolute;
  z-index: 50;
}

#noBubble {
  display: none;
  width: 8vh;
  height: 8vh;
  color: var(--ion-color-light-contrast);
  position: absolute;
  z-index: 50;
}

//Swipe animation elements
#likeEls, #dislikeEls {
  display: none;
  height: 100vh;
  z-index: 105;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #FFF;

  img {
    margin: 20vh auto;
    height: 9vh;
    width: 9vh;
  }
}

.likeText {
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 101;
  top: 27vh;

  h2 {
    padding: 15px;
    color: #f07167;
    text-align: center;
    border-radius: 10px;
    font-size: 3.5vh;
    margin: 10px auto;
  }
}

.swipe-cards {
  position: fixed;
  left: 0;
  height: 94%;
  top: 4.5vh;
  overflow: hidden;
}

.background {
  --overflow: hidden;
  margin: 10px 20px 20px;
  max-width: 100vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-height: 75vh;
  height: 75vh;
  display: inline-block;
  overflow-y: hidden;
}

/* 'IT'S A CATCH' animation elements */
.picholder {
  top: 5vh;
  position: absolute;
  display: none;
  width: 100px;
  height: 160px;
  z-index: 100;
  border-radius: 10px;
  background-size: cover;

  &.left {
    background: red;
  }

  &.right {
    background: black;
  }
}

.textholder {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 11vh;
}

.textholder-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 21vh;
}

h1.catchtext {
  font-family: 'Grand Hotel';
  font-size: 6vh;
  color: #FFF
}

h2.catchtext {
  text-align: center;
  font-size: 3.5vh;
  color: #FFF;
  width: 70%;
}

.backdrop {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

#closeAnimation {
  color: #FFF;
  --background: transparent;
  --background-activated: transparent;
  position: absolute;
  font-size: 3.5vh;
  right: 0vw;
  top: 2vh;
  display: none;
  z-index: 100;
  box-shadow: none;
  --box-shadow: none;
  --ripple-color: transparent;
}

#messageText {
  display: none;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 102;
  bottom: 27vh;

  h2 {
    background: #FFF;
    padding: 15px;
    color: #f07167;
    width: 62%;
    text-align: center;
    border-radius: 10px;
    font-size: 3vh;
  }
}

#messageText2 {
  display: none;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 102;
  bottom: 17vh;

  h2 {
    background: rgb(253, 216, 176);
    padding: 15px;
    color: seagreen;
    width: 62%;
    text-align: center;
    border-radius: 10px;
    font-size: 3vh;
  }
}


.fish {
  display: none;
  height: 20vh;
  position: absolute;
  z-index: 98;
  top: 60vh;
}

//This is here to stop click throughs to swipe stack on match event
#catchEls {
  display: none;
  height: 100vh;
  z-index: 99;
  position: absolute;
  width: 100vw;
}


@media only screen and (max-device-height: 650px) {
  .shadow {
    position: absolute;
    box-shadow: 0px 0px 20px -12px;
    width: 91.8%;
    height: 91%;
    left: 3.5%;
    top: 7%;
    border-radius: 30px;
    overflow: hidden;
  }
}
