$swipe-height: 100vh;
$swipe-width: 100vw;

// Should be equal to the actual height of the tab.
// That's if we want the swipe card to stop right above the
// tab-menu, if the latter touches the bottom of the screen
$tab-height: 0vh;

#yesBubble {
  display: none;
  width: 8vh;
  height: 8vh;
  color: var(--ion-color-primary);
  position: absolute;
  z-index: 50;
}

#noBubble {
  display: none;
  width: 8vh;
  height: 8vh;
  color: var(--ion-color-danger);
  position: absolute;
  z-index: 50;
}

.swipe-cards {
  position: fixed;
  left: 0;
  height: 94%;
  top: 4.5vh;
  overflow: hidden;
}

.background {
  --overflow: hidden;
  margin: 10px 20px 20px;
  max-width: 100vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-height: 75vh;
  height: 75vh;
  display: inline-block;
  overflow-y: hidden;
}

ion-col {
  top: -10.5vh;
  display: flex;
  justify-content: space-evenly;

  ion-button {
    margin: 0 auto;
  };
}
