<ion-content>
  <div class="background">
    <ion-icon id="yesBubble" #yesBubble name="heart-circle-outline"></ion-icon>
    <ion-icon id="noBubble" #noBubble name="close-circle-outline"></ion-icon>

    <div #likeEls id="likeEls">
      <ion-icon name="heart-outline"></ion-icon>
      <div class="likeText">
        <h2 class="catchtext">You liked PLACEHOLDER!</h2>
      </div>
    </div>
    
    <div #dislikeEls id="dislikeEls">
      <ion-icon name="close-outline"></ion-icon>
      <div class="likeText">
        <h2 class="catchtext">You passed on PLACEHOLDER.</h2>
      </div>
    </div>

    <div
      #cards
      class="swipe-cards"
      *ngFor="
        let profile of profiles$ | async as profiles;
        index as i;
        first as isFirst;
        last as isLast;
        trackBy: trackProfile
      "
      [ngStyle]="{ zIndex: profiles.length - i }"
    >
      <app-profile-card
        #profileComponent
        (tapped)="cardTap$.next($event)"
        [profile]="profile"
        [profilePictures]="profile?.pictureUrls"
      >
      </app-profile-card>
    </div>

    <div *ngIf="(profiles$ | async).length > 0" class="shadow"></div>
  </div>
</ion-content>
