<ion-content>
  <div class="background">
    <div class="swipe-cards" *ngFor="let profile of profiles; index as i; first as isFirst; last as isLast"
    [ngStyle]="{ 'zIndex': profiles.length - i }">
        <app-profile-card [profile] = "profile">
        </app-profile-card>
    </div>
  </div>
  <!--ion-grid>
    <ion-row>
      <ion-col [ngStyle]="{ zIndex: 1000 }">
        <ion-button (click)="onNoSwipe(profiles[0])">
          <ion-icon slot="icon-only" name="thumbs-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col [ngStyle]="{ zIndex: 1000 }">
        <ion-button (click)="onYesSwipe(profiles[0])">
          <ion-icon slot="icon-only" name="thumbs-up-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid-->
</ion-content>

