<ion-content>
  <form class="criteria-container" [formGroup]="searchCriteriaForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="criterion">
            <ion-toggle></ion-toggle>
            <h3>Location</h3>

            <ion-select
              slot="end"
              formControlName="location"
              placeHolder="Select an option"
              cancelText="Nah"
              okText="Okay!"
            >
              <ion-select-option
                *ngFor="let option of this.scOptions.location"
                value="{{ option }}"
              >
                {{ option }}</ion-select-option
              >
            </ion-select></ion-item
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="criterion">
            <ion-toggle></ion-toggle>
            <h3>Age Range</h3>
            <ion-select
              slot="end"
              cancelText="Nah"
              okText="Okay!"
              formControlName="ageRange"
            >
              <ion-select-option
                *ngFor="let option of this.scOptions.ageRange"
                value="{{ option }}"
              >
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="criterion">
            <ion-toggle></ion-toggle>
            <h3>Area of Study</h3>
            <ion-select
              slot="end"
              formControlName="areaOfStudy"
              cancelText="Nah"
              okText="Okay!"
              [value]="'haha'"
            >
              <ion-select-option
                *ngFor="let option of this.scOptions.areaOfStudy"
                value="{{ option }}"
              >
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="criterion">
            <ion-toggle></ion-toggle>
            <h3>Society</h3>
            <ion-select
              slot="end"
              formControlName="society"
              cancelText="Nah"
              okText="Okay!"
            >
              <ion-select-option
                *ngFor="let option of this.scOptions.societyCategory"
                value="{{ option }}"
              >
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="criterion"
            ><ion-toggle></ion-toggle>
            <h3>Interest</h3>
            <ion-select
              slot="end"
              formControlName="interest"
              cancelText="Nah"
              okText="Okay!"
            >
              <ion-select-option
                *ngFor="let option of this.scOptions.interest"
                value="{{ option }}"
              >
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="5" size="2">
          <ion-button (click)="closeAndConfirmChoices()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
