#photo-box {
    background: var(--ion-color-light-tint);
    color: var(--ion-color-light);
    border: 2px solid var(--ion-color-light-shade);
    width: 15vh;
    height: 15vh;
    border-radius: 15px;
    text-align: center;
    padding: 2vh; 
  };

  p {
      margin: 5px;
    }