#tabs {
    border: 0;
}

ion-tab-button {
    --ripple-color: transparent;
} 

img {
    height: 27px;
}

.height32 {
    height: 32px;
}

ion-icon {
    height: 25px;
}

ion-label {
    font-size: 12px;
}