<ion-tabs #tabs (ionTabsWillChange)="colorFish()">
  <ion-tab-bar slot="bottom" id="tabs">
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img #inactive name="fish" src="/assets/singlefish-grey.png"/>
      <img #active name="fish" src="/assets/singlefish-orange.png"/>
    </ion-tab-button>

    <ion-tab-button tab="own-profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
