<ion-tabs #tabs (ionTabsWillChange)="tabChanged$.emit('')">
  <ion-tab-bar slot="bottom" id="tabs" [hidden]="!(showTab$ |async)">
    <ion-tab-button tab="chats">
      <img id="chats" src="/assets/chatsicon.svg" />
      <ion-badge *ngIf="unreadChats.length > 0" color="primary">&nbsp;</ion-badge>
      <ion-badge
        *ngIf="matches.length > 0"
        [style.marginLeft]="unreadChats.length > 0 ? '12px' : '3px'"
        class="overlay"
        color="secondary"
        >&nbsp;</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img id="home" class="height32" src="/assets/swipeicon.svg" />
    </ion-tab-button>

    <ion-tab-button tab="own-profile">
      <img id="own-profile" src="/assets/profileicon.svg" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
