<ion-content>
    <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-row>
        <div class="profile"
        *ngFor="let chat of chats; index as j" >
            <!--ion-img [src]="chat?.recipient?.picture"></ion-img-->
            <ion-img src="assets/matches/placeholder.png"></ion-img>
            <div class="data">
                <ion-label>{{ chat?.recipient?.name }}</ion-label>
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
    </ion-row>
</ion-content>