ion-content {
    --background: transparent;
}

.profile {
    margin: -7vh 2vh 9vh 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 45%;
    height: 41.5vh;
    flex-wrap: wrap;
    border-radius: 30px;
}

.data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    color: var(--ion-color-dark-contrast);
    font-weight: bold;
    font-size: 4vh;
    position: absolute;
    z-index: 1;
    width: 46%;
}

ion-img {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

ion-button {
    --background: var(--ion-color-dark-contrast);
    color: var(--ion-color-dark);
    font-size: 3vh;
    width: 10vh;
    height: 10vh;
    --border-radius: 5vh;
    --background-activated: var(--ion-color-dark-contrast);
    --background-focused: var(--ion-color-dark-contrast);
    --background-hover: var(--ion-color-dark-contrast);
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 98%;
    --padding: none;
}