<ion-content>
    <div class="text">
        <h1><span style="color:var(--ion-color-primary)">nemo</span>catches</h1>

        <div class="exit" (click)="closeModal()">
            <ion-icon name="close-outline"></ion-icon>
        </div>
    </div>
    <ion-row>
        <div class="profile"
        *ngFor="let chat of chats; index as j" >
            <img [src]="(chatboardPictures$ | async)[chat?.recipient?.uid]"/>
            <div class="data">
                <ion-label>{{ chat?.recipient?.name }}</ion-label>
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
    </ion-row>
</ion-content>