<div class="text">
  <div class="exit" (click)="closeModal()">
    <ion-icon name="close-outline"></ion-icon>
  </div>
</div>

<ion-content>
  <ion-row>
    <div
      class="profile"
      *ngFor="let chat of chats; index as j; trackBy: trackChat"
      (click)="goToMessenger(chat?.id)"
    >
      <img [src]="(chatboardPictures$ | async)[chat?.recipient?.uid]" />
      <div class="data">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ chat?.recipient?.name }}</ion-label>
      </div>
    </div>
  </ion-row>
</ion-content>
