app-tab-menu {
  z-index: 1000;
}

//Text wrapping for ion select options
.alert-ios .alert-radio-label{ 
  white-space: pre-line;
}

.alert-md .alert-radio-label{ 
  white-space: pre-line;
}

.alert-wp .alert-radio-label{ 
  white-space: pre-line;
}
