ion-content {
  --overflow: hidden;
}

.header-collapse-condense ion-toolbar:first-of-type {
  height: 15vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 7vh;
  --border-width: 0;
}

div.toolbar {
  height: 3vh;
  z-index: 0;
  margin: 0 auto;
  width: 90%;
  padding-top: 3vh;
  --border-width: 0;

  h1 {
    font-size: 5vh;
    margin: 0 3vw;
  }
}

ion-row {
  width: 97.5%;
  margin: 0 auto;
  padding-bottom: 2vh;
  border-bottom: solid 1px var(--ion-color-primary-tint);

  ion-item {
    width: 97.5%;
    font-weight: bold;
    border: solid var(--ion-color-primary-shade) 1px;
    border-radius: 20px;
    --background: rgba(243, 161, 136, 0.1);
    --color: var(--ion-color-primary-shade);
  }
}

ion-title {
  font-size: 5vh;
}

  ion-grid{
    margin-top: 10px;
  }
  
  // ion-row{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  .horizontal-scroll {
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 5px;
}

#large-chip {
  height: 50px;
  border-radius: 25px;
  // background-color: white;
  // border-color: var(--ion-color-primary);
}

#chip-avatar {
  height: 45px;
  width: 45px;
}

#catches-header {
  padding: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none !important;
}

.noChats {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 5;
  top: 20vh;

  p {
    font-size: 2.7vh;
    width: 70vw;
    text-align: center;
  }
}

.fish {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20vh;

  h1 {
    margin-top: 0;
    color: var(--ion-color-primary);
    font-size: 3vh;
    text-align: center;
  }

  img[name=fish] {
    height: 12vh;
    transform: rotate(-190deg);
  }
}