<ng-container *ngIf="showLoading$ | async">
  <div class="fishAnim">
    <div class="flexcol">
      <img src="/assets/nemo_load.svg" #fish />
      <h2 class="load">Loading your chats</h2>
    </div>
  </div>
</ng-container>

<!--chats-tutorial-slides
  *ngIf="displayTutorial$ | async"
  (exit)="onExitTutorial()"
></chats-tutorial-slides-->

<ion-content>
  <div class="toolbar"></div>

  <!--div *ngIf="(numberOfChats$ | async) < 1" class="noChats">
    <p>
      Sorry, looks like you don't have any chats yet. Head to the catch tab to find
      someone new!
    </p>

    <div class="fish" (click)="goToCatch()">
      <img name="fish" src="/assets/singlefish-orange.png" />

      <h1>Catch</h1>
    </div>
  </div-->

  <app-chat-board
    #chatboard
    [chats]="chats$ | async"
    [matches]="matches$ | async"
    (chatboardReady)="onChatboardReady()"
  ></app-chat-board>
</ion-content>
