ion-button {
    margin-left: -20px;
    margin-top: 0px
}

#chat-toolbar {
    padding-top: 0px;
}

#header-grid{
    margin-bottom: -10px;
    margin-top: -10px;
  }

#message-col {
    padding: 0px;
}

ion-avatar {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.messenger-header {
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 17px;
    width: fit-content;
    white-space: pre-wrap;
    display: flex;
}

.own {
    background: var(--ion-color-light);
    color: #fff;
    text-align: right;
    align-items: right;
}

.other {
    background: var(--ion-color-secondary);
    color: #fff;
    text-align: left;
}