.container {
    border: solid 2px var(--ion-color-primary);
    border-radius: 20px;
    display: flex;
}

ion-slides {
    width: 30%;
    height: 12vh;
}

ion-slide {
    font-size: 2.2vh;
}

#day {
    border-right: solid 1px var(--ion-color-primary-tint);
}

#year {
    border-left: solid 1px var(--ion-color-primary-tint);
}