ion-content {
    --overflow: hidden;
    position: relative;
}

.shadow {
    position: absolute;
      box-shadow: 0px 0px 20px -12px;
      width: 92.5%;
      height: 91.2%;
      left: 3.6%;
      top: 6.3%;
      border-radius: 30px;
      overflow: hidden;
  }

.flexend {
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 9.5vh;
    width: 90%;
    margin: 0 auto;
}

.flexcenter {
    display: flex;
    justify-content: center;
    width: 100%;
}

#addQuestion {
    margin-top: -2vh;
    font-size: 4vh;
    color: var(--ion-color-primary);
}

#submitQuestion {
    margin-top: -2vh;
    font-size: 4vh;
    color: var(--ion-color-primary);
}

nemo-toggle {
    position: sticky;
    background: var(--ion-color-primary-contrast);
    border-radius: 30px;
}

#profile {
    position: fixed;
    left: 0;
    height: 94%;
    top: 4.5vh;
    overflow: hidden;
}

#editing {
    // padding: 1vh 3vw;
    padding: 30px;
    width: 93%;
    height: 91%;
    z-index: 3;
    background: white;
    position: absolute;
    top: 4.5vh;
    margin: 10px 14px;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll !important;
    --overflow-y: scroll !important;

    //box-shadow: 0px 0px 20px -12px;
    .container {
        height: 97.5%;
    }
} 


::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
}

h2 {
    color: var(--ion-color-light);
    font-size: 2.6vh;
}

;
.slide-button {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 5vw;
    border-top: solid 1px var(--ion-color-light-shade);
    border-bottom: solid 1px var(--ion-color-light-shade);
    margin: 3vh 0;
    //font-weight: bold;
    font-size: 2.75vh;
    ion-icon {
        margin: 3vh 0;
    }
}

.close-button {
    position: absolute;
    right: 5vw;
    z-index: 3;
    background: var(--ion-color-medium);
    border-radius: 50%;
    height: 4vh;
    margin-top: -1vh;
    ion-icon {
        font-size: 20px;
        padding: 0.5vh;
    }
}

.photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    app-profile-edit-photo {
        width: 11vh;
        height: 14vh;
        margin-top: 1vh;
    }
    ;
    p {
        margin: 5px;
    }
}

.bio {
    padding-bottom: 5vh;
    ion-textarea {
        width: 100%;
        --background: var(--ion-color-light-tint);
        border: 2px solid var(--ion-color-light-shade);
        padding: 1vh;
        border-radius: 15px;
    }
    ;
}

a {
    text-decoration: none;
    color: var(--ion-color-light-contrast);
}

@media only screen and (max-device-height: 650px) {
    #profile {
        position: fixed;
        left: 0;
        height: 94%;
        top: 4.5vh;
        overflow: hidden;
    }

    #editing {
        // padding: 1vh 3vw;
        padding: 30px;
        width: 93%;
        height: 91%;
        z-index: 3;
        background: white;
        position: absolute;
        top: 4.5vh;
        margin: 10px 11px;
        border-radius: 30px;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll !important;
        --overflow-y: scroll !important;

        //box-shadow: 0px 0px 20px -12px;
        .container {
            height: 97.5%;
        }
    } 
}