ion-content {
    --overflow: hidden;
    position: relative;
    transform: none;
}

.fishAnim { 
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    top: 35vh;
    z-index: 2;
  
    img {
      height: 18vh;
    }
}

p.unchangeable {
    font-size: 2vh;
    margin-bottom: 4vh;
    text-align: center;
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px -12px;
    width: 92.5%;
    height: 90.8%;
    left: 3.6%;
    top: 6.6%;
    border-radius: 30px;
    overflow: hidden;
    z-index: 5;
    pointer-events: none;
  }

.flexend {
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 9.5vh;
    width: 90%;
    margin: 0 auto;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.noQuestions {
    margin: 2vh 0 4vh 0;
    text-align: center;
    font-size: 2vh;
    color: var(--ion-color-dark-tint);
}

.flexcenter {
    display: flex;
    justify-content: center;
    width: 100%;
}

#addQuestion {
    margin-top: -2vh;
    font-size: 4vh;
    color: var(--ion-color-primary);
}

#submitQuestion {
    margin-top: -2vh;
    font-size: 4vh;
    color: var(--ion-color-primary);
}

nemo-toggle {
    position: sticky;
    background: var(--ion-color-primary-contrast);
    border-radius: 30px;
}

#profile {
    position: fixed;
    left: 0;
    height: 94%;
    top: 4.5vh;
    overflow: hidden;
}

#editing {
    // padding: 1vh 3vw;
    padding: 30px;
    width: 93%;
    height: 91%;
    z-index: 3;
    background: white;
    position: absolute;
    top: 4.5vh;
    margin: 10px 14px;
    //border-radius: 30px;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll !important;
    --overflow-y: scroll !important;

    //box-shadow: 0px 0px 20px -12px;
    .container {
        height: 97.5%;
    }
} 


::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
}

//Deleting questions slide button
/*ion-item-sliding {
    margin: 0 -27px 0 -21px;
    width: auto;

    ion-item { 
        --inner-border-width: 0;

        profile-answer {
            width: 95%;
        }
    }

    //Styling of button when dragged across; colour is inline styled as "color = 'danger'"
    ion-item-options {
        height: 99%;
        border: 0;

        ion-item-option {
            width: 20vw;
            font-size: 4vh;
        }
    }
}*/

h2 {
    color: var(--ion-color-light);
    font-size: 2.6vh;
}

.flexgrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.interest {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 19vw;

    img {
        height: 70px;
    };
}

.intModal {
    color: var(--ion-color-primary);
    --background: transparent;
    --background-activated: transparent;
    --box-shadow: none;
    text-transform: none;
    --ripple-color: transparent;
    margin-bottom: 1.5vh;
}

;
.slide-button {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 5vw;
    border-top: solid 1px var(--ion-color-light-shade);
    border-bottom: solid 1px var(--ion-color-light-shade);
    margin: 3vh 0;
    //font-weight: bold;
    font-size: 2.75vh;
    ion-icon {
        margin: 3vh 0;
    }
}

.close-button {
    position: absolute;
    right: 5vw;
    z-index: 3;
    background: var(--ion-color-medium);
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    margin-top: -1vh;
    ion-icon {
        font-size: 3vh;
        padding: 0.5vh;
        margin: auto;
    }
}

app-profile-card {
    box-shadow: 0px 0px 20px -12px;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
        margin: 5px;
    }
}

.bio {
    padding-bottom: 5vh;
    ion-textarea {
        width: 100%;
        --background: var(--ion-color-light-tint);
        border: 2px solid var(--ion-color-light-shade);
        padding: 1vh;
        border-radius: 15px;
    }
    ;
}

a {
    text-decoration: none;
    color: var(--ion-color-light-contrast);
}

add-photo {
    margin-top: 1vh;
    flex-basis: 26%; //Keeps max three to a line
}

.no-interests {
    font-size: 2vh;
    text-align: center;
    color: var(--ion-color-light-contrast);
}

@media only screen and (max-device-height: 650px) {
    #profile {
        position: fixed;
        left: 3px;
        height: 94%;
        top: 4.5vh;
        overflow: hidden;
    }

    #editing {
        // padding: 1vh 3vw;
        padding: 30px;
        width: 93%;
        height: 91%;
        z-index: 3;
        background: white;
        position: absolute;
        top: 4.5vh;
        margin: 10px 11px;
        border-radius: 30px;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll !important;
        --overflow-y: scroll !important;

        //box-shadow: 0px 0px 20px -12px;
        .container {
            height: 97.5%;
        }
    } 
}