<!--ion-header>
  <ion-toolbar>
    <ion-title>signuprequired</ion-title>
  </ion-toolbar>
</ion-header-->

<div class="pager">
  <ion-icon id="person" class="pager-icon" name="person"></ion-icon>
  <ion-icon id="gift" class="pager-icon" name="gift"></ion-icon>
  <ion-icon id="camera" class="pager-icon" name="camera"></ion-icon>
  <ion-icon id="happy" class="pager-icon" name="happy-outline"></ion-icon>
  <ion-icon id="school" class="pager-icon" name="school"></ion-icon>

  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
</div>

<ion-content>
  <form [formGroup]="form">
    <ion-slides #slides (ionSlideDidChange)="updateData()">
      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> What's your name?<br /><br /> </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input placeholder="First Name" formControlName="firstName"></ion-input>
            </div>
          </div>

          <div id="nameCheck">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <p>Please enter a name</p>
          </div>

          <div class="buttons first">
            <ion-button class="next-slide scroll" (click)="validateAndSlide('firstName')">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
          <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> What's your date of birth? </ion-label>
          </div>

          <div class="input center flexend-col">
            <app-datetime-component
              #date
              [yearRange]="[2020, 1960]"
              formControlName="dateOfBirth"
              (ageChange)="updateAge($event)"
            ></app-datetime-component>
          </div>

          <div class="center">
            <h3>Age: {{ this.age }}</h3>
          </div>

          <div class="skipdiv">
            <p class="tip-center">This can't be changed later</p>
          </div>

          <div id="dateCheck">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <p>Please select a valid date of birth that is 18 or over</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button
              class="next-slide scroll"
              (click)="validateAndSlide('dateOfBirth')"
            >
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
          <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked">
              Choose your photos
              <!-- BACKEND - possible to fill in name here from previous slide's input?-->
            </ion-label>
          </div>

          <div class="input photos flexeven">
            <add-photo
              *ngFor="let p of picturesHolder; let i=index"
              (onPhotoPicked)="savePhoto($event)"
              [photoIndex]="i"
              [photoDisplayedUrl]="picturesHolder[i]"
            ></add-photo>

            <!-- <add-photo></add-photo>
            <add-photo></add-photo>
            <add-photo></add-photo> -->
            <!-- <ion-button
              (click)="onPickPicture()"
              expand="block"
              fill="clear"
              shape="round"
            >
              Get me to my photo gallery
            </ion-button> -->
          </div>

          <div class="skipdiv">
            <p class="tip-center">You must have at least one photo on your profile.</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
          <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> Set your preferences </ion-label>
          </div>
          <br />

          <div class="flexstart-col">
            <div class="preferences">
              <h3>I am interested in</h3>
              <ion-select
                required
                name="sexualPreference"
                formControlName="sexualPreference"
              >
                <ion-select-option
                  *ngFor="let sexPref of sexualPreferenceOptions"
                  [value]="sexPref | formatSexPref"
                  >{{sexPref | formatSexPref}}</ion-select-option
                >
              </ion-select>
            </div>

            <div id="sexCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your interests</p>
            </div>

            <div class="preferences">
              <h3>I identify as</h3>
              <ion-select required name="gender" formControlName="gender">
                <ion-select-option *ngFor="let gender of genderOptions" [value]="gender"
                  >{{gender}}</ion-select-option
                >
              </ion-select>
            </div>

            <div id="genderCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your identification</p>
            </div>

            <div class="skipdiv">
              <p class="tip-center">These preferences can be changed later.</p>
            </div>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button
              class="next-slide scroll"
              (click)="validateAndSlide(['sexualPreference','gender'])"
            >
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> Set your uni details </ion-label>
          </div>
          <br />

          <div class="flexstart-col">
            <div class="preferences top">
              <h3>My university is</h3>
              <ion-select
                required
                formControlName="university"
                [disabled]="universitySelectionDisabled"
                #universitySelect
              >
                <ion-select-option
                  *ngFor="let university of (universityOptions$ | async)"
                  [value]="university"
                  >{{ university }}</ion-select-option
                >
              </ion-select>
            </div>

            <div id="uniCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your university</p>
            </div>

            <div class="preferences">
              <h3>My level of study is</h3>
              <ion-select required formControlName="degree">
                <ion-select-option *ngFor="let degree of degreeOptions" [value]="degree"
                  >{{ degree }}</ion-select-option
                >
              </ion-select>
            </div>

            <div id="degreeCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your study level</p>
            </div>

            <div class="terms">
              <div class="terms-singular">
                <ion-checkbox #tcbox mode="ios" name="terms"></ion-checkbox>
                <h2>I have read and understood the terms and conditions</h2>
              </div>
              <div class="terms-singular">
                <ion-checkbox #ppbox mode="ios" name="privacy"></ion-checkbox>
                <h2>I consent to the data and privacy policies of this app</h2>
              </div>
            </div>

            <div id="policiesCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>
                Please agree to both the terms and conditions and the privacy policies
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <ion-button class="next-slide scroll" (click)="validateAndSlide(['university','degree','policies'])">
                <!-- (click)="validateAndSlide(['university','degree','policies'])" -->
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="inter-slide">
        <div class="skip-to" (click)="skipToApp()">
          <p>Skip to the app</p>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

        <div class="background-gradient">
          <h1 class="inter-text">You're all set!</h1>
          <h1 class="inter-text">So feel free to dive</h1>
          <h1 class="inter-text">straight in...</h1>

          <h1 class="inter-text center">or</h1>

          <h1 class="inter-text">Enter some basic info</h1>
          <h1 class="inter-text">so you can catch</h1>
          <h1 class="inter-text">plenty more fish...</h1>
        </div>

        <img class="corner-fish" src="/assets/singlefish-orange.png"/>

        <ion-button (click)="onSubmit()" class="optional">Enter basic info</ion-button>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
