<!--ion-header>
  <ion-toolbar>
    <ion-title>signuprequired</ion-title>
  </ion-toolbar>
</ion-header-->

<div class="pager">
  <ion-icon id="person" class="pager-icon" name="person"></ion-icon>
  <ion-icon id="gift" class="pager-icon" name="gift"></ion-icon>
  <ion-icon id="camera" class="pager-icon" name="camera"></ion-icon>
  <ion-icon id="happy" class="pager-icon" name="happy-outline"></ion-icon>
  <ion-icon id="school" class="pager-icon" name="school"></ion-icon>
  <ion-icon class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon class="pager-dot" name="ellipse"></ion-icon>
</div>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-slides #slides (ionSlideDidChange)="updateData()">
      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> What's your name?<br /><br /> </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input placeholder="First Name" formControlName="firstName"></ion-input>
            </div>
          </div>

          <div id="nameCheck">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <p>Please enter a name</p>
          </div>

          <div class="buttons first">
            <ion-button class="next-slide scroll" (click)="validateAndSlide('firstName')">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> What's your date of birth? </ion-label>
          </div>

          <div class="input center flexend-col">
            <app-datetime-component
              #date
              [yearRange]="[2020, 1960]"
              formControlName="dateOfBirth"
            ></app-datetime-component>
          </div>

          <div class="center">
            <h3>Age: {{ this.date.age }}</h3>
            <p class="tip-center">This can't be changed later</p>
          </div>

          <div id="dateCheck">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <p>Please select a valid date of birth</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button class="next-slide scroll" (click)="validateAndSlide('dateOfBirth')">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked">
              Choose your photos
              <!-- BACKEND - possible to fill in name here from previous slide's input?-->
            </ion-label>
          </div>

          <div class="input photos flexeven">
            <add-photo
              *ngFor="let p of picturesHolder; let i=index"
              (onPhotoPicked)="savePhoto($event)"
              [photoIndex]="i"
              [photoDisplayed]="picturesHolder[i]"
            ></add-photo>

            <!-- <add-photo></add-photo>
            <add-photo></add-photo>
            <add-photo></add-photo> -->
            <!-- <ion-button
              (click)="onPickPicture()"
              expand="block"
              fill="clear"
              shape="round"
            >
              Get me to my photo gallery
            </ion-button> -->
          </div>

          <div class="skip">
            <p class="tip-center">You must have at least one photo on your profile.</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        <!--/ion-item-->
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> Set your preferences </ion-label>
          </div>
          <br />

          <div class="flexstart-col">
            <!-- <div class="preferences">
              <h3>I am looking for</h3>
              <ion-select required [formControl]="swipeMode">
                <ion-select-option value="option">option...</ion-select-option>
              </ion-select>
            </div> -->

            <div class="preferences top">
              <h3>I am interested in</h3>
              <ion-select
                required
                name="sexualPreference"
                formControlName="sexualPreference"
              >
                <ion-select-option
                  *ngFor="let sexPref of sexualPreferenceOptions"
                  [value]="sexPref"
                  >{{sexPref}}</ion-select-option
                >
              </ion-select>
            </div>

            <div class="preferences">
              <h3>I identify as</h3>
              <ion-select required name="gender" formControlName="gender">
                <ion-select-option *ngFor="let gender of genderOptions" [value]="gender"
                  >{{gender}}</ion-select-option
                >
              </ion-select>
            </div>

            <div id="sexCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your interest</p>
            </div>

            <div id="genderCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your identification</p>
            </div>

            <div class="skipdiv">
              <p class="tip-center">These preferences can be changed later.</p>
            </div>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <ion-button class="next-slide scroll" (click)="validateAndSlide(['sexualPreference','gender'])">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="question">
            <ion-label position="stacked"> Set your uni details </ion-label>
          </div>
          <br />

          <div class="flexstart-col">
            <div class="preferences top">
              <h3>My university is</h3>
              <ion-select required formControlName="university">
                <ion-select-option
                  *ngFor="let university of universityOptions"
                  value="{{university}}"
                  >{{ university }}</ion-select-option
                >
              </ion-select>
            </div>

            <div class="preferences">
              <h3>My level of study is</h3>
              <ion-select required formControlName="degree">
                <ion-select-option *ngFor="let degree of degreeOptions" value="{{degree}}"
                  >{{ degree }}</ion-select-option
                >
              </ion-select>
            </div>

            <div class="terms">
              <ion-checkbox mode="ios" name="terms"></ion-checkbox>
              <h2>I have read and understood the terms and conditions</h2>
            </div>
            <div class="terms">
              <ion-checkbox mode="ios" name="privacy"></ion-checkbox>
              <h2>I consent to the data and privacy policies of this app</h2>
            </div>

            <div id="uniCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your university</p>
            </div>

            <div id="degreeCheck">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Please select your study level</p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>
  
              <ion-button class="next-slide scroll" (click)="validateAndSlide(['university','degree'])">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="wave-background">
          <img
            style="opacity: 1"
            class="waves front"
            src="../../../assets/signup/waves.png"
            alt="Waves"
          />
          <img
            class="waves behind"
            src="../../../assets/signup/waves_2.png"
            alt="Waves"
          />
        </div>

        <div class="container-wave flexstart-col">
          <div class="scroll flexend-row">
            <ion-button (click)="goToMain()" class="exit">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>

          <div style="opacity: 1" class="flexstart-col blow-up front">
            <h1>Adding basic info leads to better matches.</h1>
          </div>

          <div class="flexend-col blow-up behind">
            <h1>So you can find a catch, or be caught yourself.</h1>
          </div>

          <div class="flexend-col">
            <!-- <ion-button class="add-info" (click)="unlockAndSlideToNext(7)"> -->
            <!-- <ion-button [routerLink]="['../signupoptional']" routerLinkActive="router-link-active" type ="submit"> -->
            <ion-button type="submit"> Enter Basic Information </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>

<!-- <ion-content>
  <form [formGroup]="requiredForm" (ngSubmit)="onSubmit()">
    <ion-slides pager="true" #slide>
      <ion-slide>
        <ion-item lines="none">
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> What's your name? </ion-label>
            </div>

            <div class="input flexstart-col">
              <div>
                <ion-input placeholder="First Name" formControlName="firstName"></ion-input>
              </div>

              <div>
                <ion-input placeholder="Last Name" formControlName="lastName"></ion-input>
              </div>

              <p class="tip">
                Last name is optional, and will only be shared with matches.
              </p>
            </div>

            <div class="scroll flexstart-col">
              <div class="flexend-row">
                <ion-button (click)="slide.slideNext()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> When's your date of birth? </ion-label>
            </div>

            <div class="input flexstart-col">
              <div>
                <ion-datetime
                  displayFormat="DD/MM/YYYY"
                  min="1910-01-01"
                  max="2002-12-31"
                  formControlName="dateOfBirth"
                  cancelText="cancel" doneText="done" 
                ></ion-datetime>
              </div>
            </div>

            <div class="scroll flexstart-col">
              <div class="flexend-row">
                <ion-button (click)="slide.slideNext()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="container flexend-col">
            <div class="question">
              <ion-label position="stacked"> Choose your photos NAME </ion-label>
            </div>

            <div class="flexeven">
              <div class="flexstart-col">
                <div class="photo">+</div>
                <div class="photo">+</div>
              </div>

              <div class="flexstart-col">
                <div class="photo">+</div>
                <div class="photo">+</div>
              </div>
            </div>

            <div class="flexend-col pictures">
              <ion-button
                (click)="onPickPicture()"
                expand="block"
                fill="clear"
                shape="round"
              >
                Get me to my photo gallery
              </ion-button>

              <p class="tip">You must have at least one photo on your profile.</p>
            </div>

            <div class="scroll flexstart-col">
              <div class="flexend-row">
                <ion-button (click)="slide.slideNext()">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <ion-item lines="none">
          <div class="container flexend-col">
            <div class="question">
              <ion-label position="stacked"> What are your preferences? </ion-label>
            </div>

            <div class="flexstart-col">
              <div class="preferences">
                I am looking for
                <select required>
                  <option value="" disable selected hidden></option>
                  <option value="friends">friends</option>
                  <option value="dating">dating</option>
                </select>
              </div>

              <div class="preferences">
                I am interested in
                <select required>
                  <option value="" disable selected hidden></option>
                  <option value="guys">guys</option>
                  <option value="girls">girls</option>
                  <option value="all genders">all genders</option>
                  <option value="non-binary">non-binary</option>
                </select>
              </div>

              <div class="preferences">
                I identify as
                <select required>
                  <option value="" disable selected hidden></option>
                  <option value="female">female</option>
                  <option value="male">male</option>
                  <option value="non-binary">non-binary</option>
                  <option value="gender fluid">gender fluid</option>
                </select>
              </div>
              <div class="scroll flexstart-col">
                <div class="flexend-row">
                  <ion-button (click)="slide.slideNext()">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
      <ion-slide (click)="slide.slideNext()">
        <div class="flexstart-col blow-up">
          <h1>Adding basic info leads to better matches.</h1>
        </div>

        <div class="scroll flexstart-col">
          <div class="flexend-row">
            <ion-button [routerLink]="['../signupoptional']" type ="submit" [disabled]="!requiredForm.valid">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>
  
    </ion-slides>
  </form>
</ion-content> -->
