<div #messageContainer>
  <ion-slides #slides>
    <ion-slide>
      <ion-header #header>
        <ion-toolbar id="chat-toolbar">
          <ion-grid id="header-grid">
            <ion-row>
              <ion-col size="2">
                <ion-button (click)="backToChatboard()" class="back-button">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="8">
                <ion-text color="dark">
                  <div class="flexcolumn">
                    <ion-avatar>
                      <img
                        class="profile-icon"
                        (click)="slideTo('profile')"
                        [src]="bubblePicture$ | async"
                      />
                    </ion-avatar>
                    <h3 class="messenger-header" (click)="slideTo('profile')">
                      {{(chat$ | async)?.recipient?.name}}
                    </h3>
                  </div>
                </ion-text>
              </ion-col>

              <ion-col size="2">
                <img
                  name="shield"
                  src="/assets/reporticon.svg"
                  alt="Report User"
                  (click)="openUserReportModal()"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>

      <div class="messenger-container">
        <ion-row *ngIf="(messages$ | async).length < 1">
          <p class="tip">{{ chosenPopup }}</p>
        </ion-row>

        <ion-content id="message-board" [scrollEvents]="true">
          <app-message-board></app-message-board>
        </ion-content>

        <div id="boxBelowInput"></div>

        <div id="messageInputContainer">
          <ion-toolbar>
            <ion-searchbar
              [(ngModel)]="userInput"
              #searchBar
              showCancelButton="never"
              searchIcon="none"
              placeholder=""
              type="text"
              id="messageInput"
            >
              <ion-button
                icon-only
                fill="clear"
                id="sendButton"
                (click)="onSendMessage()"
                [disabled]="sendingMessage$ | async"
              >
                <ion-icon name="arrow-forward-circle"></ion-icon>
              </ion-button>
            </ion-searchbar>
          </ion-toolbar>
        </div>
      </div>
    </ion-slide>

    <ion-slide #profSlide>
      <div class="chat-slide" (click)="slideTo('messenger')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>

      <div class="shadow"></div>

      <ion-content class="profile-container">
        <app-profile-card
          #profCard
          [profile]="recipientProfile$ | async"
          [profilePictures]="recipientProfileUrls$ | async"
          [headerBottom]="2"
          [messengerProfile]="true"
        ></app-profile-card>
      </ion-content>
    </ion-slide>
  </ion-slides>
</div>
