<ion-list>
  <ion-item
    detail="true"
    button
    (click)="goToMessenger(chat.id)"
    *ngFor="let chat of chats; index as i"
  >
    <ion-avatar slot="start">
      <img [src]="chat.recipient.picture" />
    </ion-avatar>
    <div class="text-container">
      <ion-label color="primary" class="name">
        {{ chat.recipient.name }}</ion-label
      >
      <!-- <ion-badge id="notifications-badge" color="danger">5</ion-badge> -->
      <ion-label color="dark"></ion-label>
    </div>
  </ion-item>
</ion-list>
