<ion-list *ngIf="chats">
  <ion-item
    detail="true"
    button
    (click)="goToMessenger(chat.id)"
    *ngFor="let chat of chats; index as i"
  >
    <ion-avatar slot="start">
      <ion-img [src]="chat?.recipient?.picture"></ion-img>
    </ion-avatar>
    <div class="text-container">
      <ion-label color="primary" class="text-container name">
        {{ chat?.recipient?.name }}</ion-label
      >
      <ion-label
        color="black"
        class="text-container chat"
        id="lastMessage"
        *ngIf="
          chat.messages[chat.messages.length - 1].senderID ===
          chat.recipient.uid
        "
      >
        {{
          shorten(
            chat.recipient.name +
              ": " +
              chat.messages[chat.messages.length - 1].content
          )
        }}</ion-label
      >
      <ion-label
        color="black"
        class="text-container chat"
        id="lastMessage"
        *ngIf="
          chat.messages[chat.messages.length - 1].senderID !==
          chat.recipient.uid
        "
      >
        {{
          shorten("You: " + chat.messages[chat.messages.length - 1].content)
        }}</ion-label
      >
      <!-- <span> {{ getDate(chat.messages[chat.messages.length - 1].time) }}</span> -->
    </div>
    <ion-badge color="danger" id="unread-badge">{{
      calcUnread(chat)
    }}</ion-badge>
  </ion-item>
</ion-list>
