ion-item {
  --border-width: 0px;
  border-color: #666666;
  --border-style: solid;
  border-radius: 40px;
  --inner-border-width: 0px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  --background: rgb(255, 255, 255);
  // height: 80px;
  --min-height: 75px;
}

ion-avatar {
  margin-left: -12px; //so the avatar aligns with the item border
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

#notifications-badge {
  position: fixed;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.chat {
  font-size: medium;
  padding: 4px 0px 0px;
}

#unread-badge {
}
