<ion-content>
  <ion-slides #slides>
    <ion-slide>
      <div class="container">
        <h1>Welcome to <span style="color: var(--ion-color-primary);">Nemo!</span></h1>
        <img class="homePage" src="/assets/tutorial/card.png"/>
        <h2>You're starting on the home page, where you can find other profiles in your <span style="color: var(--ion-color-primary);">catch-stack</span>.</h2>      
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <h2>To like someone, <span style="color: var(--ion-color-primary);">double tap</span> the right side of their profile.</h2>
        <img class="highlighted" src="/assets/tutorial/card_highlighted.png" alt="profile_card"/> 
        <h2>To pass on someone, <span style="color: var(--ion-color-primary);">double tap</span> the left side of their profile.</h2>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <div class="flexstretch">
          <img class="profile-small" src="/assets/tutorial/card_tap.png" alt="profile_tapped"/>
          <h2>You can find out more about someone by <span style="color: var(--ion-color-primary);">tapping</span> on the banner that displays their name.</h2> 
        </div>
        <div class="flexstretch">
          <h2>To collapse the profile, simply <span style="color: var(--ion-color-primary);">tap</span> on the banner again.</h2>
          <img class="profile-small" src="/assets/tutorial/card_moreInfo.png" alt="profile_more_info"/>
        </div>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <div class="flexstretch">
          <img class="profile-small" src="/assets/tutorial/card_2.png" alt="profile_tapped"/>
          <h2>If you want to change the profiles in your catch stack, simply <span style="color: var(--ion-color-primary);">tap</span> the search icon to enter <span style="color: var(--ion-color-primary);">nemo search</span>.</h2> 
        </div>
        <div class="flexstretch">
          <h2>You can refine your search for similar interests, societies, and much more!</h2>
          <img class="profile-small" src="/assets/tutorial/card_search.png" alt="profile_more_info"/>
        </div>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <h1>From all of us here,</h1>
        <h1 style="margin: 0; color: var(--ion-color-primary);">Good luck!</h1>
        <img class="loadIcon" src="/assets/nemo_load.svg"/>
        <ion-button (click)="exitHomeTutorial()">Get swiping</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>