.signInUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;
}

ion-content.welcome {
  --background: grey; /*To be replaced with slides of images*/

  ion-button {
    height: 38px;
    font-size: 15px;
    text-transform: none;
  }
}

.nemo-logo {
  filter: sopacity(100px) blur(100px);
  margin: 15vh auto 0 auto;
  width: 75%;
}

.register {
  background-color: var(--ion-color-primary);
  border-radius: 15px;
  padding: 10px;
  color: var(--ion-color-primary-contrast);
}

.signin {
  --background: transparent;
  --box-shadow: none;
  color: var(--ion-color-secondary);
}

$button-width: 6.25vh;
$slide-height: 100vh;
$slide-width: 100vw;

ion-slides {
  margin-top: 5vh;
  height: 90vh;
}

interest-slides {
  width: 93vw;
  margin-top: 6vh;
}

#letter {
  font-size: 6vh;
  color: var(--ion-color-primary);
  display: none;
  margin-top: 10vh;
}

#sentEmail {
  margin: 0 auto;
  text-align: center;
  color: var(--ion-color-primary);
  display: none;
}

#emailCheck, #passCheck, #nameCheck, #dateCheck, #uniCheck, #sexCheck, #degreeCheck, #genderCheck {
  margin-top: 10px;
  display: none;
  color: var(--ion-color-danger-shade);

  p {
    margin-left: 3px;
  }
}

#uniCheck, #sexCheck  {
  position: absolute;
  z-index: 2;
  top: 24vh;
}

#degreeCheck, #genderCheck {
  position: absolute;
  z-index: 2;
  top: 35vh;
}

.pager {
  display: flex;
  top: 9vh;
  left: 8vw;
  z-index: 20;
  position: absolute;

  &-icon {
    display: none;
    border: solid 3px var(--ion-color-primary-tint);
    border-radius: 50%;
    color: var(--ion-color-primary);
    font-size: 4vh;
    padding: 1vh;
  }

  &-dot {
    //display: none;
    padding: 2.5vh 2.5vw;
    font-size: 1.5vh;
    color: var(--ion-color-light-shade);
  }
}

ion-item {
  position: absolute;
  bottom: 0;
  height: 80vh;
  overflow: visible;
  width: 100vw;
  --border-width: 0;
  --inner-border-width: 0;
  background: none;
}

p {
  margin: 0;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 75vh;
}

.first {
  justify-content: flex-end;

  .skip {
    text-align: center;
    margin-right: 17vw;
    margin-top: -1vh;
  }
}

ion-button.scroll {
  --border-radius: 100%;
  --padding-start: 0;
  --padding-end: 0;
  color: var(--ion-color-primary-contrast);
  --background: var(--ion-color-primary);
  height: $button-width;
  width: $button-width;
  z-index: 4;
  border-radius: 100%; //This is purely for dropshadow
  box-shadow: 0 2px 5px -3px var(--ion-color-light-contrast);
}

.scroll ion-icon[name="close-outline"] {
  font-size: 3vh;
}

.unlocker {
  z-index: 2000;
  top: 0;
  left: 0;
  position: absolute;
}

.flexend-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flexstart-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flexend-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flexstart-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexeven {
  display: flex;
  justify-content: space-evenly;

  &-col {
    flex-direction: column;
  }
}

.wave-background {
  height: $slide-height;
  width: $slide-width;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--ion-color-primary-shade),
    var(--ion-color-secondary-shade)
  );
  position: relative;
  z-index: 0;
}

.container {
  height: 80vh;
  width: 90vw;

  &-wave {
    height: 80vh;
    top: 5vh;
    width: 90vw;
    z-index: 1;
    position: absolute;
  }
}

.exit {
  --border-radius: 50%;
  color: var(--ion-color-secondary);
  --background: var(--ion-color-primary);
  height: 7.5vh;
}

.question {
  flex: 1;
  padding-top: 8vh;
  height: 10vh;

  ion-label {
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 4.4vh;
  }
}

.input {
  width: 90%;
  height: 30vh;
  background: var(--ion-color-primary-contrast);
  --background: var(--ion-color-primary-contrast);

  ion-input,
  ion-datetime {
    height: 5vh;
    width: 100%;
    border-bottom: solid 1px var(--ion-color-medium-shade);
    font-size: 3vh;
    margin-bottom: 1vh;
    background: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary-contrast);
    --placeholder-font-weight: normal;
  }

  ion-textarea {
    width: 100%;
    border: solid 1px var(--ion-color-medium-shade);
    border-radius: 5px;
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 1vh;
    --placeholder-font-weight: normal;
  }

  .verification_input {
    color: var(--ion-color-primary);
    text-align: center;
    width: 10%;
    margin-right: 5vw;
  }
}

add-photo {
  height: 12vh;
  width: 12vh;
  font-size: 2.25vh;
}

.photos {
  flex-wrap: wrap;
  height: 35vh;
  width: 80vw;
  margin: 10vh auto 5vh;
}

p {
  font-size: 2vh;
  margin-bottom: 3vh;

  &.tip {
    color: var(--ion-color-medium-shade);

    &-center {
      color: var(--ion-color-medium-shade);
      text-align: center;
      margin: 1vh 0 0 0;
    }
  }

  &.no_verification {
    color: var(--ion-color-primary-tint);
  }
}

question-slides {
  width: 90vw;
  height: 50vh;
  margin-top: 5vh;
}

/* ADD PHOTOS SLIDE SPECIFICS */

/*Photo square div alignment*/
.pictures {
  text-align: center;
  margin: 0 auto;
}

/*Photo square styling*/
.photo {
  width: 10vh;
  height: 10vh;
  margin: 4vh;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  padding-top: 3vh;
  background-color: var(--ion-color-medium-tint);
  color: var(--ion-color-dark-tint);
}

.skip {
  text-align: center;
  margin-top: -1vh;

  ion-button {
    font-size: 3vh;
    color: var(--ion-color-light-contrast);
    --background: transparent;
    --background-activated: transparent;
    --box-shadow: none;
    text-transform: none;
    z-index: 5;
  }
}

.waves {
  height: $slide-height;
  max-width: 150vw;

  &.front {
    z-index: 2;
  }

  &.behind {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.blow-up {
  color: var(--ion-color-primary-contrast);
  text-align: left;
  flex: 1;

  &.front {
    z-index: 2;
  }

  &.behind {
    z-index: 1;
    opacity: 0;
  }

  h1 {
    padding: 0 5vw;
    font-weight: bold;
    font-size: 6vh;
  }
}

.preferences {
  display: flex;
  justify-content: flex-end;
  width: 90vw;

  h3 {
    color: var(--ion-color-medium-shade);
    font-size: 3vh;
    margin: 0;
    font-weight: normal;
  }

  .flexstart-col & {
    margin: 5vh 0 2vh 0;
  }

  /*.flexstart-col &.top {
    margin: 10vh 0 2vh 0;
  }*/

  ion-select {
    color: var(--ion-color-light-contrast);
    border: 0;
    background: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary-contrast);
    flex: 1;
    padding: 0 2vw;
    font-size: 3vh;
    --placeholder-font-weight: normal;

    &:visited,
    &:active {
      border: 0;
    }
  }
}

.optionals {
  width: 90%;

  /*Stop input divs from overflowing flexboxes on further info pages*/
  & .input {
    height: auto;
    background: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary-contrast);
  }

  ion-select {
    font-size: 3vh;
    border-bottom: 1px solid var(--ion-color-medium-shade);
    width: 100%;
    margin: 2vh 0;
    padding-left: 0;
    padding-bottom: 1vh;
    background: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary-contrast);
    --placeholder-color: var(--ion-color-light);
    --placeholder-opacity: 1;
    --placeholder-font-weight: normal;
  }
}

ion-content {
  --overflow: hidden;
  flex: 2;
}

.multi-input {
  margin-top: 8.5vh;
  width: 90vw;

  ion-item {
    height: auto;
    --border-radius: 10px;
    margin: 1vh;
    width: auto;
    --padding: 0;
    --inner-border-width: none;
    --border-color: transparent;

    ion-checkbox {
      --border-radius: 100%;
      --border-color: var(--ion-color-light-shade);
      --background: var(--ion-color-primary-contrast);
      --background-checked: var(--ion-color-primary-contrast);
      --checkmark-color: var(--ion-color-primary);
      margin: 0;
    }
  }
}

.personal-pref {
  padding: 2vh;
  position: absolute;
  bottom: 5vh;
  height: 80vh;
  overflow: visible;
  width: 100vw;
  --border-width: 0;
  --inner-border-width: 0;
  background: none;
  text-align: left;
}

.add-info {
  font-size: 3vh;
  --border-radius: 30px;
  text-transform: none;
}

.bio {
  margin-top: 5vh;
  width: 100%;
  
  ion-textarea {
    min-height: 18.5vh;
    padding-right: 5px;
    border: none;
    font-weight: normal;
    --placeholder-font-weight: normal;
  }
}

.skipdiv {
  position: absolute;
  top: 65vh;
  width: 92.5%;

  &-multiple {
    position: absolute;
    top: 55.5vh;
    width: 95%;
  }
}

.terms {
  margin-top: 5vh;

  &-singular {
    width: 90vw;
    margin: 0.5vh auto;
    display: flex;

    ion-checkbox {
      margin-top: 3vh;
      width: 9vw;
      --background: var(--ion-color-primary-contrast);
      --background-checked: var(--ion-color-primary-contrast);
      --checkmark-color: var(--ion-color-primary);
      --border-color-checked: var(--ion-color-primary-contrast);
      --transition: 0.3s;
    }

    h2 {
      margin-left: 4vw;
      font-size: 2vh;
      text-decoration: underline;
    }
  }
}

.tip h3 {
  margin-top: 4vh;
}

.center {
  margin: 0 auto;

  h3 {
      text-align: center;
  }
}
