<ion-content>
  <form class="criteria-container" [formGroup]="searchCriteriaForm">
    <ion-slides #slides>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <div class="flexbetween">
              <div class="flex">
                <h1 class="nemo">nemo</h1>
                <h1>search</h1>
              </div>

              <ion-button class="clear" (click)="clearSelect()">
                <ion-icon name="refresh-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-row>

          <p>
            This feature allows you to refine which profiles appear in your "catch-stack".
          </p>

          <ion-row>
            <ion-col>
              <div class="criterion">
                <h3 id="degree">Degree</h3>
                <!--ion-select
                  [(ngModel)] = "degreeSelection"
                  slot="end"
                  cancelText="Nah"
                  okText="Okay!"
                  formControlName="degree"
                  (ionChange)="selectReplace('degree')"
                >
                  <ion-select-option
                    *ngFor="let option of this.scOptions.degree"
                    value="{{ option }}"
                  >
                    {{ option }}
                  </ion-select-option>
                </ion-select-->
                <nemo-toggle
                  #degreeslider
                  [buttonWidth]="17"
                  [fontSize]="3"
                  [selections]="this.scOptions.degree"
                ></nemo-toggle>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="criterion">
                <h3>Location</h3>
                <nemo-toggle
                  #locationslider
                  [buttonWidth]="17"
                  [fontSize]="3"
                  [selections]="['On campus', 'Everyone']"
                ></nemo-toggle>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div (click)="moveTo('studies')" class="criterion">
                <h3 id="aos">Area of Study</h3>
                <!--ion-select
                  [(ngModel)] = "studySelection"
                  slot="end"
                  formControlName="areaOfStudy"
                  cancelText="Nah"
                  okText="Okay!"
                  [value]="'haha'"
                  (ionChange)="selectReplace('aos')"
                >
                  <ion-select-option
                    *ngFor="let option of this.scOptions.areaOfStudy"
                    value="{{ option }}"
                  >
                    {{ option }}
                  </ion-select-option>
                </ion-select-->
                <h2 *ngIf="this.studySelection">{{ this.studySelection }}</h2>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div (click)="moveTo('societies')" class="criterion">
                <h3 id="society">Societies</h3>
                <!--ion-select
                  [(ngModel)] = "societySelection"
                  slot="end"
                  formControlName="societyCategory"
                  cancelText="Nah"
                  okText="Okay!"
                  (ionChange)="selectReplace('society')"
                >
                  <ion-select-option
                    *ngFor="let option of this.scOptions.societyCategory"
                    value="{{ option }}"
                  >
                    {{ option }}
                  </ion-select-option>
                </ion-select-->
                <h2 *ngIf="this.societySelection">{{ this.societySelection }}</h2>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div (click)="moveTo('interests')" class="criterion">
                <h3 id="interests">Interests</h3>
                <!--ion-select
                  [(ngModel)] = "interestSelection"
                  slot="end"
                  formControlName="interest"
                  cancelText="Nah"
                  okText="Okay!"
                  (ionChange)="selectReplace('interests')"
                >
                  <ion-select-option
                    *ngFor="let option of this.scOptions.interest"
                    value="{{ option }}"
                  >
                    {{ option }}
                  </ion-select-option>
                </ion-select-->
                <h2 *ngIf="this.interestSelection">{{ this.interestSelection }}</h2>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide id="placeholder"></ion-slide>

      <ion-slide style="display: none" id="study">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'aos')"
              lines="none"
              *ngFor="let option of this.scOptions.areaOfStudy"
              [style.--background]="
                this.studySelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.studySelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide style="display: none" id="soc">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'society')"
              lines="none"
              *ngFor="let option of this.scOptions.societyCategory"
              [style.--background]="
                this.societySelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.societySelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide style="display: none" id="int">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'interests')"
              lines="none"
              *ngFor="let option of this.scOptions.interest"
              [style.--background]="
                this.interestSelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.interestSelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
