<ion-content>
  <form class="criteria-container" [formGroup]="form">
    <div id="closeButton" class="exit" (click)="closeAndConfirmChoices()">
      <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="image" *ngIf="!(viewIsReady$ | async)">
      <div class="flex loading">
        <img #fish src="/assets/nemo_load.svg" class="fish" />
      </div>
    </div>

    <ion-slides #modalSlides>
      <ion-slide id="home">
        <ion-grid #grid>
          <ion-row>
            <div class="flexbetween">
              <div class="flex">
                <h1 class="nemo">nemo</h1>
                <h1>search</h1>
              </div>
            </div>
          </ion-row>

          <ion-row>
            <p>
              This feature allows you to refine which profiles appear in your
              "catch-stack".
            </p>
          </ion-row>

          <ion-row #clear>
            <ion-col>
              <ion-button class="clear-button" (click)="clearSelect()">
                <ion-icon name="refresh-outline"></ion-icon>
                <h3>Clear selections</h3>
              </ion-button>
            </ion-col>
          </ion-row>

          <div #options class="slide-down">
            <ion-row>
              <ion-col>
                <div (click)="moveTo('university')" class="criterion">
                  <h3 id="chosenUni">University</h3>
                  <h2 *ngIf="this.uniSelection">{{ this.uniSelection }}</h2>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div (click)="moveTo('degree')" class="criterion">
                  <h3 id="chosenDegree">Degree</h3>
                  <h2 *ngIf="this.degreeSelection">{{ this.degreeSelection }}</h2>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div (click)="moveTo('studies')" class="criterion">
                  <h3 id="areaOfStudy">Area of Study</h3>
                  <h2 *ngIf="this.studySelection">{{ this.studySelection }}</h2>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div (click)="moveTo('societies')" class="criterion">
                  <h3 id="society">Societies</h3>
                  <h2 *ngIf="this.societySelection">{{ this.societySelection }}</h2>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div (click)="moveTo('interests')" class="criterion">
                  <h3 id="interests">Interests</h3>
                  <h2 *ngIf="this.interestSelection">{{ this.interestSelection }}</h2>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-slide>

      <ion-slide id="placeholder" style="display: block">placeholder</ion-slide>

      <ion-slide id="uni">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ng-container *ngFor="let option of universityOptions$ | async">
              <!--NGIF=OPTION IS IMPORTANT - stops it showing null values-->
              <ion-item
                *ngIf="option"
                (click)="selectReplace(option, 'chosenUni')"
                lines="none"
                [style.--background]="
                  this.uniSelection === option
                    ? 'var(--ion-color-primary)'
                    : 'var(--ion-color-primary-contrast)'
                "
                [style.color]="
                  this.uniSelection === option
                    ? 'var(--ion-color-primary-contrast)'
                    : 'var(--ion-color-light-contrast)'
                "
              >
                <ion-label *ngIf="option">{{ option }}</ion-label>
                <ion-label *ngIf="!option">Any</ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide id="deg">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ng-container *ngFor="let option of degreeOptions">
              <!--NGIF=OPTION IS IMPORTANT - stops it showing null values-->
              <ion-item
                *ngIf="option"
                (click)="selectReplace(option, 'chosenDegree')"
                lines="none"
                [style.--background]="
                  this.degreeSelection === option
                    ? 'var(--ion-color-primary)'
                    : 'var(--ion-color-primary-contrast)'
                "
                [style.color]="
                  this.degreeSelection === option
                    ? 'var(--ion-color-primary-contrast)'
                    : 'var(--ion-color-light-contrast)'
                "
              >
                <ion-label>{{ option }}</ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide id="study">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'areaOfStudy')"
              lines="none"
              *ngFor="let option of areaOfStudyOptions"
              [style.--background]="
                this.studySelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.studySelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide id="soc">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'society')"
              lines="none"
              *ngFor="let option of societyCategoryOptions"
              [style.--background]="
                this.societySelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.societySelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>

      <ion-slide id="int">
        <div class="flexstart-col">
          <div (click)="returnTo()" class="flexstart-row return">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <h4>Back</h4>
          </div>
          <ion-list>
            <ion-item
              (click)="selectReplace(option, 'interests')"
              lines="none"
              *ngFor="let option of interestsOptions"
              [style.--background]="
                this.interestSelection === option
                  ? 'var(--ion-color-primary)'
                  : 'var(--ion-color-primary-contrast)'
              "
              [style.color]="
                this.interestSelection === option
                  ? 'var(--ion-color-primary-contrast)'
                  : 'var(--ion-color-light-contrast)'
              "
            >
              <ion-label>{{ option }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
