/*.criteria-container {
  overflow: scroll;
}*/

ion-content {
  --overflow: scroll;
}

ion-slide#study, ion-slide#soc, ion-slide#int {
  overflow: hidden;
  --overflow: hidden;
}

ion-slide {
  text-align: left;
}

ion-col {
  padding-top: 0;
}

.criterion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 3vh 3vw;
  border-bottom: solid 1px var(--ion-color-light-shade);
}

.labels {
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  width: 93%;
  margin: 0 auto;

  ion-label {
    padding-right: 2.5vw;

    &.left {
      padding-right: 4vw;
    }
  };
}

ion-toggle {
  width: 50vw;
  --handle-width: 25vw;
  height: 5vh;
  --handle-height: 5vh;
  --background: var(--ion-color-light-shade);
  --background-checked: var(--ion-color-light-shade);
  border: solid 1px;
  border-radius: 20px;
}

ion-select {
  flex: 1;
  font-size: 22px;
  font-weight: bold;
  color: var(--ion-color-primary);
  --padding-start: none;
  margin-top: 5px;
}

.flex {
  display: flex;

  &between {
    display: flex;
    justify-content: space-between;
    width: 100%;
  };

  &start-col {
    display: flex;
    flex-direction: column;
  }
}

h1 {
  font-size: 5vh;
  margin-top: 2vh;
}

h2 {
  font-size: 3vh;
  color: var(--ion-color-primary);
}

p {
  margin: 0 auto;
  padding-bottom: 3vh;
  font-size: 1.3vh;
  border-bottom: 1px solid var(--ion-color-light-shade);
  color: var(--ion-color-dark-shade);
}

.nemo {
  color: var(--ion-color-primary);
}

ion-button {

  &.exit {
    --background: transparent;
    color: var(--ion-color-light-contrast);
    --background-activated: transparent;
    font-size: 3vh;
  };

  &.clear {
    margin: 2vh;
    --border-radius: 50%;
    height: 6.5vh;
  }
}

.return {
  display: flex;
  color: var(--ion-color-primary);
  font-size: 3vh;

  h4 {
    padding-left: 2vh;
    font-size: 3vh;
  };

  ion-icon {
    margin-top: 2.5vh;
    
  }
}


ion-list {
  width: 100%;

  ion-item {
    border-bottom: solid 1px var(--ion-color-light-shade);
    font-size: 2.9vh;
  };
}