ion-content {
    width: calc(100% + 15px);
    --padding-end: 15px;
}

.image {
    height: 90vh;
    width: 90vw;
    background-color: var(--ion-color-primary-contrast);
    padding-top: 33vh;
    text-align: center;

    .flex {
        font-size: 10vh;
        display: flex;
        justify-content: center;
    };
}

.loading {
    position: absolute;
    left: 0;
    width: 90vw;

    img {
        height: 18vh;
    }
}

.criteria-container {
    padding: 12px;
    /* Hide scrollbars */
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.criteria-container::-webkit-scrollbar {
    display: none;
}

ion-slide#study,
ion-slide#soc,
ion-slide#int {
    overflow: hidden;
    --overflow: hidden;
}

ion-slide {
    text-align: left;
    &#placeholder {
        width: 90vh;
        height: 90vh;
    }
}

ion-col {
    padding-top: 0;
}

ion-grid {
    height: 88vh;
}

.slide-down {
    position: absolute;
    z-index: 3;
    width: 96%;
    top: 16.15vh;
    background-color: var(--ion-color-primary-contrast);
}

.criterion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 3vw;
    border-bottom: solid 1px var(--ion-color-light-shade);
}

.clear-button {
    --background: var(--ion-color-primary-contrast);
    --background-activated: rgba(240, 113, 103, 0.3);
    --border-radius: 0;
    --background: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border: 0;
    border-bottom: solid 1px var(--ion-color-light-shade);
    margin-top: 1px;
    height: 7vh;
    text-transform: none;
    --box-shadow: none;
    h3 {
        margin: 0;
    }
    ;
    ion-icon {
        font-size: 3vh;
        margin-right: 0.5vh;
    }
}

.flex {
    display: flex;
    &between {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    ;
    &start-col {
        display: flex;
        flex-direction: column;
    }
}

h1 {
    font-size: 5vh;
    margin-top: 2vh;
}

h2 {
    font-size: 3vh;
    color: var(--ion-color-primary);
}

h3 {
    font-size: 18px;
}

p {
    margin: 0 auto;
    padding-bottom: 3vh;
    font-size: 1.8vh;
    border-bottom: 1px solid var(--ion-color-light-shade);
    color: var(--ion-color-dark-shade);
}

.nemo {
    color: var(--ion-color-primary);
}

.exit {
    z-index: 3;
    position: absolute;
    right: 4vh;
    top: 2vh;
    width: 5.2vh;
    font-size: 3vh;
    height: 5.2vh;
    background-color: var(--ion-color-light-shade);
    border-radius: 50%;
    text-align: center;
    padding-top: 1.25vh;
}

.return {
    display: flex;
    color: var(--ion-color-primary);
    font-size: 3vh;
    h4 {
        padding-left: 2vh;
        font-size: 3vh;
    }
    ;
    ion-icon {
        margin-top: 2.5vh;
    }
}

ion-list {
    width: 100%;
    ion-item {
        border-bottom: solid 1px var(--ion-color-light-shade);
        font-size: 2.9vh;
    }
    ;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none !important;
  }