<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="container">
        <h1>Welcome to Nemo!</h1>
        <h2>You're starting on the home page, where you can find your swipe stack.</h2>
        <img class="homePage" src="/assets/swipeicon.svg"/>
        <h2>These are other people's profiles, which you can choose to like or pass on.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <h2>To like someone, double tap the right side of their profile.</h2>
        <img class="highlighted" src="/assets/tutorial/card_highlighted.png" alt="profile_card"/> 
        <h2>To pass on someone, double tap the left side of their profile.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <h2>You can find out more about someone by tapping on the banner with their name.</h2>
        <div class="imageMap">
          <img class="profile-small left" src="/assets/tutorial/card_tap.png" alt="profile_tapped"/>
          <img class="arrow-1" src="/assets/tutorial/arrow.png" alt="arrow"/>
          <img class="profile-small right" src="/assets/tutorial/card_moreInfo.png" alt="profile_more_info"/>
        </div>
        <h2>Just tap on the banner again to close the info section.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <h2>To change the profiles appearing on your swipe stack, change your <span style="color: #F17607">nemo</span>search.</h2>
        <div class="imageMap">
          <!--arrow pointing at search-criteria button, class arrow-2-->
          <img class="arrow-2" src="/assets/tutorial/arrow.png" alt="arrow"/>
          <img class="profile-small left" src="/assets/tutorial/card.png" alt="profile_tapped"/>
          <img class="arrow-1" src="/assets/tutorial/arrow.png" alt="arrow"/>
          <img class="profile-small right" src="/assets/tutorial/card_search.png" alt="profile_more_info"/>
        </div>
        <h2>You can get to it by clicking on the magnifying glass.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <h2>It's all up to you now,</h2>
        <h1 style="margin: 0;">good luck!</h1>
        <div class="imageMap">
          <img class="chatsPage" src="/assets/chatsicon.svg"/>
          <img class="profilePage" src="/assets/profileicon.svg"/>
        </div>
        <h2>Tutorials for the other tabs will show up when you go to them.</h2>
        <ion-button (click)="exitHomeTutorial()">Get swiping</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>