<ion-content>
  <ion-slides #slides>
    <ion-slide>
      <div class="container">
        <h1>This is your chats page!</h1>
        <img class="chatsPage" src="/assets/chatsicon.svg"/>
        <h2>Here, you can see your catches and chat to them.</h2>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <h2>Under the chats tab, you can see your open conversations.</h2>
          <img class="arrow-1" src="/assets/tutorial/arrow.png" alt="arrow"/>
          <img class="highlighted" src="/assets/tutorial/chats.png" alt="chats_page"/>
        <h2>You can switch to catches to see new people you've caught to chat to.</h2>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <h2>We hope it will never happen, but sometimes chats just don't go right.</h2>
        <img class="highlighted" src="/assets/reporticon.svg" alt="report_button"/> 
        <h2>If you ever feel anxious or unsafe, don't hesitate to report a user.</h2>
      </div>
      <ion-icon class="forward" (click)="changeSlide('next')" name="chevron-forward-outline"></ion-icon>
    </ion-slide>

    <ion-slide>
      <ion-icon class="backward" (click)="changeSlide('prev')" name="chevron-back-outline"></ion-icon>
      <div class="container">
        <h2>Now it's your turn,</h2>
        <h1 style="margin: 0;">who might you connect with?</h1>
        <ion-button (click)="exitChatsTutorial()">Get chatting</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>