<div class="container" 
[ngStyle]="{ width: selections.length * buttonWidth + 1 + 'vw' }"
[style.border]="catchToggle ? 'solid 2px var(--ion-color-secondary-tint)' : 'solid 2px var(--ion-color-primary-tint)'">
  <div 
  #handle id="slider" 
  [ngStyle]="{ width: buttonWidth + 'vw' }"
  [style.border]="catchToggle ? 'solid 2px var(--ion-color-secondary)' : 'solid 2px var(--ion-color-primary)'"></div>

  <div class="buttons">
    <ion-button
      [type]="option"
      (click)="selectOption(option)"
      *ngFor="let option of selections"
      [ngStyle]="{ width: buttonWidth + 'vw', 'font-size': fontSize + 'vw' }"
    >
      <p>{{ option }}</p>
    </ion-button>
  </div>
</div>
