<div>
    <div #answerClose class="close-button" (click)="clearInput()">
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="text">
        <div class="flex">
            <ion-icon class="edit" name="pencil" (click)="showInput()"></ion-icon>
            <h2 #qHead id="question">{{ questions.question }}</h2>

            <ion-select
            #qInput
            id="replace" 
            placeholder="Choose a question"
            (ionChange)="changeQuestion($event)">
                <ion-select-option *ngFor="let q of this.questionsAvailable">
                    {{ q }}
                </ion-select-option>
            </ion-select>
        </div>
        <ion-textarea #answerInput (ionInput)="displayExit()" autoGrow='true' value={{questions.answer}}></ion-textarea>
    </div>
</div>

<div class="add" *ngIf="!this.addable">
    <ion-select 
    placeholder="Choose a question"
    (ionChange)="chooseQuestion($event)">
        <ion-select-option *ngFor="let q of this.questionsAvailable">
            {{ q }}
        </ion-select-option>
    </ion-select>
    <div class="text">
        <ion-textarea 
        autoGrow="true" 
        (ionChange)="answerQuestion($event)"></ion-textarea>
    </div>
</div>