<div>
  <div class="text">
    <div class="flex">
      <ion-icon class="edit" name="pencil" (click)="showInput()"></ion-icon>
      <h2 #qHead id="question">{{ questionAndAnswer?.question }}</h2>
      <div #answerClose class="close-button" (click)="clearInput()">
        <ion-icon name="close-outline"></ion-icon>
      </div>

      <ion-select
        #qInput
        id="replace"
        interface="action-sheet"
        placeholder="Choose a question"
        (ionChange)="onQuestionChange($event)"
      >
        <ion-select-option
          *ngFor="let q of questionsNotPicked; trackBy: trackQuestion"
          [value]="q"
        >
          {{ q }}
        </ion-select-option>
      </ion-select>
    </div>
    <ion-textarea
      #answerInput
      autoGrow="true"
      maxlength="70"
      [ngModel]="questionAndAnswer?.answer"
      (ngModelChange)="onAnswerChange($event)"
    ></ion-textarea>
  </div>
</div>
