.text {
    padding-bottom: 5vh;
  
    ion-textarea {
      width: 100%;
      --background: var(--ion-color-light-tint);
      border: 2px solid var(--ion-color-light-shade);
      padding: 1vh;
      border-radius: 15px;
    };
}

#question {
    color: var(--ion-color-light-contrast);
    font-size: 2.3vh;
}

.close-button {
  position: absolute;
  right: 5vw;
  z-index: 3;
  background: var(--ion-color-medium);
  border-radius: 50%;
  height: 4vh;
  margin-top: 5.5vh;

  ion-icon {
    font-size: 20px;
    padding: 0.5vh;
  }
}

ion-select {
  font-size: 2.3vh;
  --padding-start: none;
}

.add {
  margin-top: 1vh;
}

.flex {
  display: flex;
}

#replace {
  display: none;
}

.edit {
  margin-top: 16px;
  margin-right: 5px;
  font-size: 2.8vh;
  color: var(--ion-color-primary);
}