$swipe-height: 100vh;
$swipe-width: 100vw;

// Should be equal to the actual height of the tab,
// Assuming the tab
$tab-height: 20vh;

.swipe-card {
  position: absolute;
  height: $swipe-height - $tab-height;
  width: $swipe-width;
  margin: 0px;

  ion-img {
    height: 450px;
    min-width: 100%;
    max-width: none;
  }
}

.swipe-cards {
  position: fixed;
}
