$swipe-height: 100vh;
$swipe-width: 100vw;

// Should be equal to the actual height of the tab.
// That's if we want the swipe card to stop right above the
// tab-menu, if the latter touches the bottom of the screen
$tab-height: 0vh;

.swipe-card {
  position: absolute;
  height: $swipe-height - $tab-height;
  width: $swipe-width;
  border-radius: 0px;

  ion-img {
    height: 450px;
    min-width: 100%;
    max-width: none;
  }
}

.swipe-cards {
  position: fixed;
}
