ion-content {
    --overflow: hidden;
}

ion-slides {
    height: 40vh;
    width: 80vw;
    overflow: visible;
    --bullet-background: #000;
}

ion-slide {
    border: solid 2px var(--ion-color-primary-tint);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px -10px;
}

ion-select {
    font-size: 3vh;
    font-weight: bold;
    border-bottom: 1px solid var(--ion-color-medium-shade);
    width: 100%;
    margin: 2vh 0;
    padding-left: 0;
    padding-bottom: 1vh;
    background: var(--ion-color-primary-contrast);
    --background: var(--ion-color-primary-contrast);
    --placeholder-color: var(--ion-color-light);
    --placeholder-opacity: 1;
}

//Allows select to expand to accommodate multi-line questions
ion-select::part(text) {
    white-space: pre-wrap !important;
}

ion-textarea {
    width: 100%;
    border: solid 1px var(--ion-color-medium-shade);
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.button {
    color: var(--ion-color-primary-contrast);
    background: var(--ion-color-primary);
    border-radius: 50%;
    font-size: 4vh;
    width: 4vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 4vh;
    position: absolute;
    z-index: 2;
}

.add, .next {
    top: 32%;
    right: 0;
}

.prev {
    top: 32%;
}

#pager {
    display: flex;
    width: 90%;
    justify-content: center;
    position: absolute;
    top: 62.5vh;
    z-index: 5;
}

.pager-dot {
    font-size: 1.5vh;
    color: var(--ion-color-light-shade);
    margin: 0 1vw;
}