<ion-content #grid>
  <div 
  *ngIf="slideArray.length < 1"
  (click)="addQuestion()"
  class="noSlides button">
    <ion-icon name="add"></ion-icon>
</div>

  <ion-slides #questionSlides (ionSlideDidChange)="this.updatePager()">
    <ion-slide *ngFor="let number of this.slideArray">
      <ion-select
        #selects
        interface="action-sheet"
        (ionChange)="updateQuestionArray(number, $event)"
      >
        <ion-select-option
          *ngFor="let question of this.availableQuestionsMap[number]"
          [value]="question"
        >
          {{ question }}
        </ion-select-option>
      </ion-select>

      <ion-textarea
        #texts
        autoGrow="true"
        maxlength="70"
        (ionChange)="updateAnswerArray(number, $event)"
        placeholder="Pick a question above, write your answer here..."
      >
      </ion-textarea>

      <div id="delete" class="delete button" (click)="deleteQuestion(number)">
        <ion-icon name="close-outline"></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>

  <div id="add" class="add button" (click)="addQuestion()">
    <ion-icon name="add"></ion-icon>
  </div>
</ion-content>

<div id="pager" #pager>
  <ion-icon
    #pagerDot
    class="pager-dot"
    name="ellipse"
    *ngFor="let number of this.slideArray"
  ></ion-icon>
</div>
