nemo-toggle {
    padding: 1.5vh;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    overflow-y: scroll;
    margin: 4vh auto 0;
}

.flexbetween-row {
    display: flex;
    justify-content: space-between;

    ion-icon {
        padding: 3vh;
        width: 5vh;
        height: 5vh;
        color: var(--ion-color-light-contrast);
    }
}

.flexeven-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexstart-col {
    display: flex;
    flex-direction: column;
}

.flexstart-row {
    display: flex;
    flex-direction: row;

    p.return {
        font-size: 2.2vh;
    }
}

#back {
    height: 3vh;
    width: 3vh;
    padding: 2vh 0 1vh 0;
}

.slide-button {
    display: flex;
    //margin: 3vh 0;
    justify-content: space-between;
    padding: 1.5vh 5vw;
    border-bottom: solid 1px var(--ion-color-light-shade);
    border-top: solid 1px var(--ion-color-light-shade);
    font-size: 2.75vh;

    &.go-under {
        flex-direction: column;
        justify-content: space-around;
    }

    &.logout, &.delete {
        background-color: var(--ion-color-light-tint);
        border: 0;
        margin: 3vh 5vw;
        border-radius: 15px;
        p {
            margin: 2vh auto;
        };
    }

    &.preferences {
        font-size: 2.25vh;

        p {
            color: var(--ion-color-light);
        };

        select {
            flex: 1;
            border: none;
            background: transparent;
            color: var(--ion-color-light-contrast);

            &:focus {
                outline: none;
            };

        /*ion-select {
            flex: 1;
            border: none;
            background: transparent;
            color: var(--ion-color-light-contrast);
    
            &:focus {
                outline: none;
            };*/
        };
    }
  
    ion-icon {
      margin: 3vh 0;
    }
}

h1 {
    font-size: 5vh;
}

h3 {
    font-size: 2vh;
    color: var(--ion-color-medium-tint);
    margin: 5px;
}

a:focus {
    outline: none;
}

ion-toggle {
    height: 5vh;
    margin: auto 0;
    width: 24vw;
    --handle-width: 12vw;
    --handle-height: 4.75vh;
    border-radius: 30px;
}