nemo-toggle {
    padding: 1.5vh;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    margin-top: 4vh;
    padding: 0 5vw;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
      }
}

.noScroll {
    overflow: hidden;
    --overflow: hidden;
}

.flexbetween-row {
    display: flex;
    justify-content: space-between;

    ion-icon {
        padding: 3vh;
        width: 5vh;
        height: 5vh;
        color: var(--ion-color-light-contrast);
    }
}

.flexeven-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexstart-col {
    display: flex;
    flex-direction: column;
}

.flexstart-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 0;

    p.return {
        font-size: 2.2vh;
        margin: 0;
    }
}

#back {
    height: 3vh;
    width: 3vh;
}

.slide-button {
    display: flex;
    //margin: 3vh 0;
    justify-content: space-between;
    padding: 1.5vh 5vw;
    border-bottom: solid 1px var(--ion-color-light-shade);
    border-top: solid 1px var(--ion-color-light-shade);
    font-size: 2.75vh;

    &.go-under {
        flex-direction: column;
        justify-content: space-around;
    }

    &.logout, &.delete {
        background-color: var(--ion-color-light-tint);
        border: 0;
        margin: 3vh 5vw;
        border-radius: 15px;
        p {
            margin: 2vh auto;
        };
    }

    &.preferences {
        font-size: 2.25vh;

        p {
            color: var(--ion-color-light);
        };

        select {
            flex: 1;
            border: none;
            background: transparent;
            color: var(--ion-color-light-contrast);

            &:focus {
                outline: none;
            };
        };
    }
  
    ion-icon {
      margin: 3vh 0;
    }
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 4vh;
    color: var(--ion-color-primary);
}

h2.subheading {
    font-size: 3vh;
    color: black;
    margin: 0;
}

h3 {
    font-size: 2vh;
    color: var(--ion-color-medium-tint);
    margin: 5px;
}

.left {
    text-align: left;
}

div.pdf-view {
    width: 95%;
    height: 70%;
    border-radius: 20px;
    border: solid 2px var(--ion-color-primary);
    margin: 0 auto;
    padding: 10px;
}

pdf-viewer {
    width: 100%;
    height: 100%;
}

a:focus {
    outline: none;
}

.email {
    text-align: center;
    font-size: 3vh;
    color: var(--ion-color-primary);
}

@media only screen and (max-device-width: 380px) {
    .email {
        text-align: center;
        font-size: 2.5vh;
        color: var(--ion-color-primary);
    }
}