<ion-content id="selector">
    <ion-slides [options]="this.slideOpts">
        <ion-slide 
        *ngFor="let picture of this.pictures; let i = index" 
        (click)="selectInterest(this.names[i])"
        [style.border]="this.interests.includes(this.names[i]) ? 'solid 1px var(--ion-color-primary)' : 'solid 1px var(--ion-color-primary-contrast)'"
        [style.background]="this.interests.includes(this.names[i]) ? '#FFDED0' : 'var(--ion-color-primary-contrast)'"
        [style.color]="this.interests.includes(this.names[i]) ? 'var(--ion-color-primary)' : 'var(--ion-color-light-contrast)'">
            <div class="image-container">
                <img src={{this.pictures[i]}}/>
            </div>
            <h2>{{this.names[i]}}</h2>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-content *ngIf="this.listed" id="cards">
    <ion-list>
        <ion-item *ngFor="let interest of this.interests">
            <ion-avatar slot="start">
                <img src="/assets/interests/pubcrawler.png" alt="icon" />
            </ion-avatar>
            <ion-label>
                <h1>{{interest}}</h1>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>