ion-content {
  top: 5vh;
  height: 85vh;
  width: calc(100% + 15px);
  --padding-end: 15px;
}

ion-item {
  --inner-border-width: 0px;
  border-bottom: solid 1px var(--ion-color-primary-tint);
  margin: 0 15px;
  --background: rgb(255, 255, 255);
  --min-height: 13vh;
  --background-activated: var(--ion-color-primary-tint);
}

.match-image {
  border: solid 2px var(--ion-color-primary-contrast);
}

ion-avatar {
  margin-left: -12px; //so the avatar aligns with the item border
  height: 9vh;
  width: 9vh;
  margin-right: 10px;
}

ion-list {
  padding-top: 0;
}

.fish-back {
  height: 15vh;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  right: 0;
}

ion-badge {
  position: absolute;
  right: 10vw;
  top: 3vh;
  background-color: var(--ion-color-primary);
}

ion-row {
  width: 97.5%;
  margin: 0 auto;
  padding-bottom: 2vh;
  border-bottom: solid 1px var(--ion-color-primary-tint);

  ion-item {
    width: 97.5%;
    font-weight: bold;
    border: solid var(--ion-color-primary-shade) 1px;
    border-radius: 10px;
    //--background: rgba(243, 161, 136, 0.1);
    --color: var(--ion-color-primary-shade);
    max-height: 13vh;
  }
}

#notifications-badge {
  position: fixed;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.chat {
  font-size: medium;
  padding: 4px 0px 0px;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none !important;
}