.search {
  display: flex;
  justify-content: flex-end;
  top: 6.5vh;
  position: absolute;
  height: 10vh;
  width: 92vw;
  margin: 0 auto;

  #searchButton {
    position: absolute;
    z-index: 100;
    --background: rgba(0,0,0,0.1);
    --border-radius: 100%;
    height: 15vw;
    width: 15vw;

    //ion-icon {
    //  font-size: 6vh;
    //};
  };
}

/* SHADOW ROOT main.inner-scroll.scroll-y BLOCKS BACKGROUND COLORS SO VARIABLE HAS TO BE CHANGED */
ion-content {
  --ion-background-color: transparent;
  //Shadow root is also the cause of the right line shadow overlap on iOS, something that cannot be fixed this way
}

.swipe-stack {
  position: relative;
  width: 100%;
  height: 98.5%;

  app-swipe-card {
    --background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    overscroll-behavior: none !important;
    overflow: hidden !important;
  };
}

//@for $i from 1 through 8 {
 // .swipe-stack app-swipe-card:nth-of-type(#{$i}) {
 //   transform: rotate(random(10)-5 + deg);
 //   z-index: $i;
 // }
//}