<ion-button
  style="z-index: 100; position: absolute"
  debounceClick
  (debounceClick)="showTestModel()"
  debounceTime="5000"
  >Test message board (dev)</ion-button
>

<home-tutorial-slides
  *ngIf="displayTutorial$ | async"
  (exit)="onExitTutorial()"
></home-tutorial-slides>

<ng-container *ngIf="showLoading$ | async">
  <div class="fishAnim">
    <div class="flexcol">
      <img src="/assets/nemo_load.svg" #fish />
      <h2 class="load">Loading swipe stack</h2>
    </div>
  </div>
</ng-container>

<div *ngIf="showEmptyPrompt$ | async" class="noSwipes">
  <div class="overlap">
    <p>Sorry, looks like your swipe stack is empty. Come back later!</p>
  </div>
</div>
<div *ngIf="showCapReachedPrompt$ | async" class="noSwipes">
  <div class="overlap">
    <p>
      Sorry, looks like you ran out of swipes for the moment. They fill up over time, come
      back in a few hours!
    </p>
  </div>
</div>
<div *ngIf="showNotShowingProfilePrompt$ | async" class="noSwipes">
  <div class="overlap">
    <p>
      You are Under. You cannot see people if they're not allowed to see you! Go to your
      settings to switch back.
    </p>
  </div>
</div>

<!--div id="catchEls">
  <div #pic1 class="picholder left"></div>
  <div #pic2 class="picholder right"></div>
  <div #catchText class="textholder">
    <h1 class="catchtext">It's a Catch!</h1>
  </div>
  <div #catchText class="textholder-2">
    <h2 class="catchtext">{{ chosenCatchMsg }}</h2>
  </div>

  <div #backdrop class="backdrop"></div>

  <ion-button id="closeAnimation" (click)="closeCatch()"
    ><ion-icon name="close-outline"></ion-icon
  ></ion-button>
  <div #messageText id="messageText" (click)="goToNewCatchChat()">
    <h2 class="catchtext">Chat with {{ latestMatchedProfile?.firstName }}</h2>
  </div>
  <div #messageText2 id="messageText2" (click)="closeCatch()">
    <h2 class="catchtext">Keep fishing</h2>
  </div>
</div-->

<ion-content #homeContainer>
  <div class="swipe-stack" #swipeCards>
    <div class="search">
      <ion-button #searchButton id="searchButton" (click)="showSearchCriteria()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <app-swipe-card
      [profiles$]="swipeProfiles$"
      [swipeCardsRef]="swipeCardsRef"
      [homeContainer]="this.homeContainer"
    ></app-swipe-card>
  </div>
</ion-content>
