<ion-button style="z-index: 100; position: absolute" (click)="activateSwipeStack()"
  >Activate swipe stack (dev)</ion-button
>

<div id="catchEls">
  <div #pic1 class="picholder left"></div>
  <div #pic2 class="picholder right"></div>
  <div #catchText class="textholder">
    <h1 class="catchtext">It's a Catch!</h1>
  </div>

  <ion-button id="closeAnimation" (click)="closeCatch()"
    ><ion-icon name="close-outline"></ion-icon
  ></ion-button>
  <div #messageText id="messageText">
    <h1 class="catchtext">Chat with {{ this.matchedName }}</h1>
  </div>

  <div class="center">
    <img #fish src="/assets/nemo.png" class="fish" />
  </div>
  <!--img #leftFish src="/assets/singlefish.png" class="singlefish left"/>
  <img #rightFish src="/assets/singlefish.png" class="singlefish right"/-->
</div>

<ion-content #homeContainer>
  <div class="swipe-stack" #swipeCards>
    <div class="search">
      <ion-button #searchButton id="searchButton" (click)="presentSCmodal()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <app-swipe-card
      [profiles$]="swipeStackStore.profiles$"
      (matched)="playCatch($event)"
    ></app-swipe-card>
  </div>
</ion-content>
