<ion-content #homeContainer>
  <div>
    <ion-button style="z-index: 100;" (click)="playCatch()">Catch</ion-button>
    <div #pic1 class="picholder left"></div>
    <div #pic2 class="picholder right"></div>
    <div #catchText class="textholder">
      <h1 class="catchtext">It's a Catch!</h1>
    </div>
  </div>

  <div class="swipe-stack">
    <div class="search">
      <ion-button #searchButton id="searchButton" (click)="presentSCmodal()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <app-swipe-card
      [profiles]="swipeProfiles | async"
    ></app-swipe-card>
  </div>
</ion-content>
