.flexcol {
  display: flex;
  flex-direction: column;
}

.fishAnim { 
  display: flex;
  width: 100vw;
  justify-content: center;
  position: absolute;
  top: 35vh;
  z-index: 2;

  img {
    height: 18vh;
  }
}

h2 
{
  color: var(--ion-color-light);
  font-size: 2.6vh;
}

.search {
  display: flex;
  justify-content: flex-end;
  top: 6.5vh;
  position: absolute;
  height: 10vh;
  width: 92vw;
  margin: 0 auto;

  #searchButton {
    position: absolute;
    z-index: 100;
    --background: rgba(0,0,0,0.1);
    --border-radius: 100%;
    height: 15vw;
    width: 15vw;

  };
}

// /* 'IT'S A CATCH' animation elements */
// .picholder {
//   top: 5vh;
//   position: absolute;
//   display: none;
//   width: 100px;
//   height: 160px;
//   z-index: 100;
//   border-radius: 10px;
//   background-size: cover;

//   &.left {
//     background: red;
//   }

//   &.right {
//     background: black;
//   }
// }

// .textholder {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   z-index: 100;
//   position: absolute;
//   top: 11vh;
// }

// .textholder-2 {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   z-index: 100;
//   position: absolute;
//   top: 21vh;
// }

// h1.catchtext {
//   font-family: 'Grand Hotel';
//   font-size: 6vh;
//   color: #FFF
// }

// h2.catchtext {
//   text-align: center;
//   font-size: 3.5vh;
//   color: #FFF;
//   width: 70%;
// }

// .backdrop {
//   z-index: 99;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   pointer-events: none;
// }

// #closeAnimation {
//   color: #FFF;
//   --background: transparent;
//   --background-activated: transparent;
//   position: absolute;
//   font-size: 3.5vh;
//   right: 0vw;
//   top: 2vh;
//   display: none;
//   z-index: 100;
//   box-shadow: none;
//   --box-shadow: none;
//   --ripple-color: transparent;
// }

// #messageText {
//   display: none;
//   justify-content: center;
//   width: 100vw;
//   position: absolute;
//   z-index: 101;
//   bottom: 27vh;

//   h2 {
//     background: #FFF;
//     padding: 15px;
//     color: #f07167;
//     width: 62%;
//     text-align: center;
//     border-radius: 10px;
//     font-size: 3vh;
//   }
// }

// #messageText2 {
//   display: none;
//   justify-content: center;
//   width: 100vw;
//   position: absolute;
//   z-index: 101;
//   bottom: 17vh;

//   h2 {
//     background: rgb(253, 216, 176);
//     padding: 15px;
//     color: seagreen;
//     width: 62%;
//     text-align: center;
//     border-radius: 10px;
//     font-size: 3vh;
//   }
// }


// .fish {
//   display: none;
//   height: 20vh;
//   position: absolute;
//   z-index: 100;
//   top: 60vh;
// }

// //This is here to stop click throughs to swipe stack on match event
// #catchEls {
//   display: none;
//   height: 100vh;
//   z-index: 99;
//   position: absolute;
//   width: 100vw;
// }


/* SHADOW ROOT main.inner-scroll.scroll-y BLOCKS BACKGROUND COLORS SO VARIABLE HAS TO BE CHANGED */
ion-content {
  --ion-background-color: transparent;
  --overflow: hidden;
  //position and top allow it to show behind transparent background overlaps
  position: absolute;
  top: 0;
  //Shadow root is also the cause of the right line shadow overlap on iOS, something that cannot be fixed this way
}

.swipe-stack {
  position: relative;
  width: 100%;
  height: 99%;
  overflow: hidden !important;
  overscroll-behavior: none !important;

  app-swipe-card {
    --background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    overscroll-behavior: none !important;
    overflow: hidden !important;
  };
}


.noSwipes {
  position: absolute;
  top: 30vh;

  .overlap {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  p {
    font-size: 2.7vh;
    width: 70vw;
    text-align: center;
    top: 10vh;
    position: absolute;
  }

  img {
    height: 25vh;
    top: 3.5vh;
    position: absolute;
  }
}