<ion-header>
  <ion-toolbar>
    <ion-title>signupauth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <ion-slides pager="false" #slides>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              What's your uni email address?
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input placeholder="email@ucl.ac.uk" formControlName="email"></ion-input>
            </div>
          </div>
           
          <div class="flexstart-col">
            <p class="tip">Only UCL email addresses will allow for verification.</p>
          </div>

          <!-- <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')"> -->
          <ion-button class="next-slide scroll" (click)="slides.slideNext()">

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <ion-item lines="none">
          <div class="question">
            <ion-label position="stacked">
              Choose a password for your account
            </ion-label>
          </div>

          <div class="input flexend-col">
            <div>
              <ion-input type="password" formControlName="password"></ion-input>
            </div>
          </div>

          <div class="flexstart-col">
            <p class="tip">Your password must be at least 10 characters long.</p>
          </div>

          <ion-button class="next-slide scroll" [routerLink]="['../../signuprequired']" routerLinkActive="router-link-active"  type="submit">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
