<!--ion-header>
  <ion-toolbar>
    <ion-title>signupoptional</ion-title>
  </ion-toolbar>
</ion-header-->

<div class="pager">
  <ion-icon id="book" class="pager-icon" name="book-outline"></ion-icon>
  <ion-icon id="people" class="pager-icon" name="people"></ion-icon>
  <ion-icon id="chatbox" class="pager-icon" name="chatbox-ellipses-outline"></ion-icon>
  <ion-icon id="palette" class="pager-icon" name="color-palette-outline"></ion-icon>
  <ion-icon id="bio" class="pager-icon" name="accessibility"></ion-icon>
  <ion-icon id="insta" class="pager-icon" name="logo-instagram"></ion-icon>

  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
</div>

<ion-content>
  <form [formGroup]="form">
    <ion-slides #slides (ionSlideDidChange)="updateData()">
      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> What do you study? </ion-label>
            </div>

            <div class="multi-input">
              <div class="input">
                <!--Area of Study?-->
                <ion-select placeholder="Area of study" formControlName="areaOfStudy">
                  <ion-select-option [value]="null">nuthin</ion-select-option>

                  <ion-select-option
                    *ngFor="let area of areaOfStudyOptions"
                    [value]="area"
                    >{{area}}</ion-select-option
                  >
                </ion-select>

                <div>
                  <ion-input
                    type="text"
                    maxlength="20"
                    placeholder="Course"
                    formControlName="course"
                  ></ion-input>
                </div>
              </div>
            </div>
          </div>

          <p class="tip">Maximum 20 characters</p>

          <div class="skipdiv">
            <p class="tip-center">These details are optional and can be changed later.</p>
          </div>

          <div class="buttons first">
            <div class="skip">
              <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
            </div>

            <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add your societies </ion-label>
            </div>

            <div class="multi-input">
              <div class="input">
                <!--Area of Study?-->
                <ion-select
                  placeholder="Society category"
                  formControlName="societyCategory"
                >
                  <ion-select-option
                    *ngFor="let category of societyCategoryOptions"
                    value="{{category}}"
                  >
                    {{category}}
                  </ion-select-option>
                </ion-select>

                <div>
                  <ion-input
                    type="text"
                    maxlength="15"
                    placeholder="Society name"
                    formControlName="society"
                  ></ion-input>
                </div>
              </div>
            </div>

            <p class="tip">Maximum 15 characters</p>

            <div class="skipdiv">
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add some questions </ion-label>
            </div>
            <question-slides
              #qSlides
              (questionDeleted)="this.removeQuestion($event)"
              formArrayName="questions"
            >
            </question-slides>
          </div>

          <div class="skipdiv">
            <p class="tip-center">Max 70 characters per answer</p>
            <p class="tip-center">These details are optional and can be changed later.</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <div class="skip">
              <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
            </div>

            <ion-button class="next-slide scroll" (click)="submitQuestions()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Got any interests? </ion-label>
            </div>

            <!-- TO FIX BY LINKING TO TEMPLATE -->
            <interests-slides #interestSlides [listed]="false"></interests-slides>
            <!-- <interests-slides
              #interestSlides
              [listed]="false"
              [(interests)]="form.get('interests').value"
            ></interests-slides> -->

            <div class="skipdiv-multiple">
              <p class="tip-center">You can choose a maximum of three interests.</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add a bio </ion-label>
            </div>

            <div class="bio input">
              <ion-textarea
                maxlength="150"
                formControlName="biography"
                autoGrow="true"
                placeholder="Write about yourself!"
              >
              </ion-textarea>
            </div>

            <div class="skipdiv">
              <p class="tip-center">Maximum 150 characters.</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> Link your social media </ion-label>
            </div>

            <div class="skipdiv-multiple">
              <p class="tip-center">
                Other users will be able to click on the link to your social media
                account.
              </p>
              <p class="tip-center">
                You can only link one social media account to your Nemo profile.
              </p>
              <p class="tip-center">
                The linked social media account can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="onSubmit()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
