<!--ion-header>
  <ion-toolbar>
    <ion-title>signupoptional</ion-title>
  </ion-toolbar>
</ion-header-->

<div class="pager">
  <ion-icon id="book" class="pager-icon" name="book-outline"></ion-icon>
  <ion-icon id="people" class="pager-icon" name="people"></ion-icon>
  <ion-icon id="chatbox" class="pager-icon" name="chatbox-ellipses-outline"></ion-icon>
  <ion-icon id="palette" class="pager-icon" name="color-palette-outline"></ion-icon>
  <ion-icon id="bio" class="pager-icon" name="accessibility"></ion-icon>
  <ion-icon id="insta" class="pager-icon" name="logo-instagram"></ion-icon>

  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
  <ion-icon #pagerDots class="pager-dot" name="ellipse"></ion-icon>
</div>

<ion-content>
  <form [formGroup]="form">
    <ion-slides #slides (ionSlideDidChange)="updateData()">
      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> What do you study? </ion-label>
            </div>

            <div class="multi-input">
              <div class="input">
                <!--Area of Study?-->
                <ion-select placeholder="Area of study" formControlName="areaOfStudy">
                  <ion-select-option [value]="null">nuthin</ion-select-option>

                  <ion-select-option
                    *ngFor="let area of areaOfStudyOptions"
                    [value]="area"
                    >{{area}}</ion-select-option
                  >
                </ion-select>

                <div>
                  <ion-input
                    type="text"
                    maxlength="20"
                    placeholder="Course"
                    formControlName="course"
                  ></ion-input>
                </div>
              </div>
            </div>
          </div>

          <p class="tip">Maximum 20 characters</p>

          <div class="skipdiv">
            <p class="tip-center">These details are optional and can be changed later.</p>
          </div>

          <div class="buttons first">
            <div class="skip">
              <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
            </div>

            <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <!--ion-item lines="none"-->
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add your societies </ion-label>
            </div>

            <div class="multi-input">
              <div class="input">
                <!--Area of Study?-->
                <ion-select
                  placeholder="Society category"
                  formControlName="societyCategory"
                >
                  <ion-select-option
                    *ngFor="let category of societyCategoryOptions"
                    value="{{category}}"
                  >
                    {{category}}
                  </ion-select-option>
                </ion-select>

                <div>
                  <ion-input
                    type="text"
                    maxlength="15"
                    placeholder="Society name"
                    formControlName="society"
                  ></ion-input>
                </div>
              </div>
            </div>

            <p class="tip">Maximum 15 characters</p>

            <div class="skipdiv">
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add some questions </ion-label>
            </div>

            <!--div class="multi-input">
              <div class="input">
                <div
                  formArrayName="questions"
                  *ngFor="let questionForm of form.get('questions').controls; let i=index"
                >
                  <div [formGroupName]="i">
                    <ion-select formControlName="q">
                      <ion-select-option [value]="null"
                        >selected hidden</ion-select-option
                      >
                      <ion-select-option
                        *ngFor="let question of questionsOptions"
                        [value]="question"
                      >
                        {{question}}
                      </ion-select-option>
                    </ion-select>
                    <div>
                      <ion-textarea maxlength="30" formControlName="a"></ion-textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div-->

            <question-slides></question-slides>
          </div>
          <!--ion-button (click)="addQuestion()" expand="block" fill="clear" shape="round">
            Add Question
          </ion-button-->

          <div class="skipdiv">
            <p class="tip-center">Max 70 characters per answer</p>
            <p class="tip-center">These details are optional and can be changed later.</p>
          </div>

          <div class="buttons">
            <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

            <div class="skip">
              <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
            </div>

            <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Got any interests? </ion-label>
            </div>

            <interests-slides
              #interestSlides
              [(interests)]="form.get('interests').value"
              [listed]="false"
            ></interests-slides>

            <div class="skipdiv-multiple">
              <p class="tip-center">You can choose a maximum of three interests.</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="optionals flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Add a bio </ion-label>
            </div>

            <div class="bio input">
              <ion-textarea 
              maxlength="150" 
              formControlName="biography" 
              autoGrow="true"
              placeholder="Write about yourself!">
            </ion-textarea>
            </div>

            <div class="skipdiv">
              <p class="tip-center">Maximum 150 characters.</p>
              <p class="tip-center">These details are optional and can be changed later.</p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="personal-pref">
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> Link your social media </ion-label>
            </div>

            <div class="skipdiv-multiple">
              <p class="tip-center">
                Other users will be able to click on the link to your social media
                account.
              </p>
              <p class="tip-center">
                You can only link one social media account to your Nemo profile.
              </p>
              <p class="tip-center">
                The linked social media account can be changed later.
              </p>
            </div>

            <div class="buttons">
              <ion-button class="next-slide scroll" (click)="unlockAndSlideToPrev()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>

              <div class="skip">
                <ion-button (click)="unlockAndSlideToNext()">Skip</ion-button>
              </div>

              <ion-button class="next-slide scroll" (click)="unlockAndSlideToNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <!-- <ion-button class="next-slide scroll" (click)="unlockAndSwipe('next')">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button> -->
        <ion-button class="next-slide scroll" (click)="onSubmit()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>

<!-- 

      <ion-slide (click)="slide.slideNext()">
        <div class="wave-background">
          <img class="waves" src="../../../assets/signup/waves_2.png" alt="Waves" />
        </div>
  
        <div class="container-wave flexend-col">
          <div class="scroll flexend-row">
            <ion-button (click)="slide.slideNext()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>
  
          <div class="flexend-col blow-up">
            <h1>So you can find a catch, or be caught yourself.</h1>
  
            <ion-button (click)="slide.slideTo(8)"> Enter Basic Information </ion-button>
          </div>
        </div>
      </ion-slide>
  
      <ion-slide>
        <ion-item lines="none">
          <div class="container flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Set your uni details </ion-label>
            </div>
  
            <div class="optionals flexstart-col">
              <div class="input">
                <select required>
                  <option value="Area of study" selected hidden></option>
                  <option value="physics">Physics</option>
                  <option value="politics">Politics</option>
                  <option value="maths">Maths</option>
                  <option value="compsci">Computer Science</option>
                </select>
  
                <div>
                  <ion-input
                    type="text"
                    maxlength="20"
                    placeholder="Enter your degree"
                  ></ion-input>
                </div>
  
                <p class="tip">Maximum 20 characters</p>
              </div>
  
              <div class="input">
                <select required>
                  <option value="Are you in any societies?" selected hidden></option>
                  <option value="physics">Lacrosse</option>
                  <option value="politics">Kickboxing</option>
                  <option value="maths">Chess</option>
                  <option value="compsci">Poker</option>
                </select>
  
                <div>
                  <ion-input
                    type="text"
                    maxlength="15"
                    placeholder="Enter your society"
                  ></ion-input>
                </div>
  
                <p class="tip">Maximum 15 characters</p>
              </div>
            </div>
  
            <p class="tip-center">These details are optional and can be changed later.</p>
  
            <div class="skip">
              <ion-button (click)="slide.slideNext()">Skip</ion-button>
            </div>
          </div>
        </ion-item>
      </ion-slide>
  
      <ion-slide>
        <ion-item lines="none">
          <div class="container flexstart-col">
            <div class="question">
              <ion-label position="stacked"> Answer some questions about you </ion-label>
            </div>
  
            <div class="optionals flexstart-col">
              <div class="input">
                <select required>
                  <option value="Question 1" selected hidden></option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>
  
                <div>
                  <ion-textarea maxlength="30"></ion-textarea>
                </div>
              </div>
  
              <div class="input">
                <select required>
                  <option value="Question 2" selected hidden></option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>
  
                <div>
                  <ion-textarea maxlength="30"></ion-textarea>
                </div>
              </div>
            </div>
  
            <div>
              <p class="tip-center">Max 30 characters per answer</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
  
              <div class="skip">
                <ion-button (click)="slide.slideNext()">Skip</ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
  
      <ion-slide>
        where are you from
        <br />
        is this still being added?
      </ion-slide>
  
      <ion-slide>
        <ion-item lines="none">
          <div class="container flexstart-col">
            <div class="question">
              <ion-label position="stacked"> What are your interests? </ion-label>
            </div>
  
            <ion-content class="hobbies" [scrollEvents]="true">
              <ion-list>
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Workaholic</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="workaholic"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Party Animal</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="party"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Netflix & Chill</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="netflix"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>In love with the sesh</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="sesh"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Sports Maniac</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="sports"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>An intellectual</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="intellectual"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>UCLove addict</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="uclove"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Life is balance</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="balance"
                  ></ion-checkbox>
                </ion-item>
  
                <ion-item
                  [style.--background]="item.checked ? 'var(--ion-color-primary)' : 'var(--ion-color-light-shade)'"
                  [style.color]="item.checked ? 'var(--ion-color-primary-contrast)' : 'var(--ion-color-light-contrast)'"
                >
                  <ion-label>Workaholic</ion-label>
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    [ngModelOptions]="{standalone: true}"
                    name="spiritual"
                  ></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-content>
  
            <div>
              <p class="tip-center">You can choose a maximum of three interests.</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
  
              <div class="skip">
                <ion-button (click)="slide.slideNext()">Skip</ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
  
      <ion-slide>
        <ion-item>
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> Add a bio </ion-label>
            </div>
  
            <div class="bio optionals input">
              <ion-textarea maxlength="30"></ion-textarea>
            </div>
  
            <div>
              <p class="tip-center">Maximum 30 characters.</p>
              <p class="tip-center">
                These details are optional and can be changed later.
              </p>
  
              <div class="skip">
                <ion-button (click)="slide.slideNext()">Skip</ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
  
      <ion-slide>
        <ion-item>
          <div class="flexend-col container">
            <div class="question">
              <ion-label position="stacked"> Link your social media </ion-label>
            </div>
  
            <div>
              <p class="tip-center">
                Other users will be able to click on the link to your social media
                account.
              </p>
              <p class="tip-center">
                You can only link one social media account to your Nemo profile.
              </p>
              <p class="tip-center">
                The linked social media account can be changed later.
              </p>
  
              <div class="skip">
                <ion-button (click)="slide.slideNext()">Skip</ion-button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content> -->
