<ion-item *ngIf="!!(triggerAllLoadedPrompt$ | async)" #allLoadedPrompt>
  All messages loaded
</ion-item>

<ion-infinite-scroll
  position="top"
  threshold="100px"
  [disabled]="true"
  (ionInfinite)="loadMoreMessages($event)"
>
  <!-- [hidden]="allMessagesLoaded$ | async" -->

  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more messages..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-list>
  <ion-row
    *ngFor="
      let message of messages$ | async;
      index as i;
      let last = last;
      trackBy: trackMessage
    "
  >
    <ion-col
      size="8"
      *ngIf="message?.senderID === (chat$ | async)?.recipient?.uid"
      class="message-col col-recieved"
    >
      <div class="message notOwnMessage">{{ message?.content }}</div>
    </ion-col>

    <ion-col
      size="8"
      offset="4"
      *ngIf="message?.senderID !== (chat$ | async)?.recipient?.uid"
      class="message-col col-sent"
    >
      <div class="message ownMessage">{{ message?.content }}</div>
    </ion-col>
  </ion-row>
</ion-list>
