<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583834078920-ltiqnbka08m27vavjkmsqivcahnpst87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583834078920-ltiqnbka08m27vavjkmsqivcahnpst87</string>
	<key>API_KEY</key>
	<string>AIzaSyCmEQWa2-KQv4c1xx4jS2_QQRvCoxenYcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>583834078920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nemodating.nemo</string>
	<key>PROJECT_ID</key>
	<string>nemo-dev-1b0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>nemo-dev-1b0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583834078920:ios:3cd9ee4f405844c62c5ffd</string>
	<key>DATABASE_URL</key>
	<string>https://nemo-dev-1b0bc.firebaseio.com</string>
</dict>
</plist>