.flexeven {
    display: flex;
    justify-content: space-evenly;
}

.button {
    --border-radius: 30px;
    border-radius: 30px;
    height: 5vh;
    border: solid 2px var(--ion-color-primary);
    color: black;
    --background: var(--ion-color-primary-contrast);
    --background-activated: transparent;
    --ripple-color: transparent;
}

p {
    font-size: 12px; 
}